<figure class="swiper-slide">
    <div class="carousel-item__content">
        <div class="carousel-item__image">
            {% if image %}
                {{ image | image_url: width: 400, height: 600 | image_tag }}
            {% endif %}
            {% if video_url != blank %}
                <video src="{{ video_url }}" controls loop controlslist="nodownload nofullscreen" ></video>
            {% endif %}

            {% if video_sources %}
                {% for source in video_sources %}
                    <video src="{{ source.url }}" controls loop controlslist="nodownload nofullscreen"></video>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</figure>