<section class="checkout__part">
    <div class="checkout__part-header flex items-center justify-between">
        <h2 class="checkout__part-title text-baseLg flex items-center gap-2 font-bold">
            <span class="inline-flex items-center justify-center w-[1.8rem] h-[1.8rem] bg-[#0D3063] rounded-full text-white text-sm font-family-poppins mt-[-.2rem]">{{ index }}</span> 
            Select Flavors
        </h2>

        <span class="inline-flex font-family-poppins whitespace-nowrap h-[2.2rem] items-center justify-center px-[.6rem] bg-[#469AFF] text-white text-xs capitalize font-medium rounded-full" :class="{'font-bold': currentQty >= minQty}" x-show="currentQty < minQty">
            <span>
                <span class="inline-block" x-text="minQty - currentQty"></span> Pouche<span x-show="minQty - currentQty > 1">s</span> to go
            </span>
        </span>

        <span class="inline-flex font-family-poppins whitespace-nowrap h-[2.2rem] items-center justify-center px-[.6rem] bg-[#21A600] text-white text-xs capitalize font-medium min-w-[8.2rem] rounded-full" :class="{'font-bold': currentQty >= minQty}" x-show="currentQty >= minQty">
            <span>
                All Set!
            </span>
        </span>

    </div>

    <div class="checkout__flavors flex flex-col gap-[.8rem]" x-show="currentProduct.variants.length > 0">
        <div x-effect="updateCheckout()"></div>
        <template x-for="variant in currentProduct.variants" :key="variant.id">
            <div class="checkout__flavor flex items-center">
                <div class="checkout__flavor-image mr-6 w-[5.2rem] h-[5.2rem] overflow-hidden flex-shrink-0">
                    <img :src="variant.image" :alt="variant.title" class="w-full h-full object-cover">
                </div>

                <div class="checkout__flavor-content w-[100%]">
                    <div class="checkout__flavor-title font-bold">
                        <span x-text="variant.title"></span>
                    </div>

                    <div class="text-sm text-[#333]" x-show="variant?.description" x-text="variant?.description"></div>
                </div>

                <div class="checkout__flavor-qty w-[9.3rem] flex-shrink-0 mr-4">

                    <div class="checkout__flavor-qty w-[9.3rem] flex-shrink-0 mr-4" x-show="variant.quantity == 0">
                        <button class="btn btn--add w-full" @click="variant.quantity++; updateCheckout()">Add+</button>
                    </div>

                    <div class="qty-picker flex items-center gap-2 mb-2 text-[#111111]" x-show="variant.quantity > 0">
                        <button class="qty-picker__btn" @click="variant.quantity > 0 && variant.quantity--; updateCheckout()">
                            <svg width="14" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.534084 2.14009H8.87706C9.1046 2.14009 9.25629 1.9884 9.25629 1.76086V1.00241C9.25629 0.774875 9.1046 0.623184 8.87706 0.623184H0.534084C0.306549 0.623184 0.154859 0.774875 0.154859 1.00241V1.76086C0.154859 1.9884 0.306549 2.14009 0.534084 2.14009Z" fill="currentColor"/>
                            </svg>                                
                        </button>
                        <input type="number" class="qty-picker__input text-center w-[2.4rem]" :value="variant.quantity" @change="variant.quantity = $event.target.value; updateCheckout()">
                        <button class="qty-picker__btn" @click="variant.quantity++; updateCheckout()">
                            <svg width="12" height="12" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.594739 5.00245V5.7609C0.594739 5.98844 0.746429 6.14013 0.973965 6.14013H4.387V9.55317C4.387 9.7807 4.53869 9.93239 4.76623 9.93239H5.52468C5.75221 9.93239 5.90391 9.7807 5.90391 9.55317V6.14013H9.31694C9.54448 6.14013 9.69617 5.98844 9.69617 5.7609V5.00245C9.69617 4.77492 9.54448 4.62322 9.31694 4.62322H5.90391V1.21019C5.90391 0.982654 5.75221 0.830963 5.52468 0.830963H4.76623C4.53869 0.830963 4.387 0.982654 4.387 1.21019V4.62322H0.973965C0.746429 4.62322 0.594739 4.77492 0.594739 5.00245Z" fill="currentColor"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
            </div>
        </template>
    </div>
    
    {% if section.settings.gurantee_text != blank %}
        <div class="checkout__gurantee bg-[#f1fffb] rounded-[.8rem] p-[.8rem] text-[1.4rem] md:text-[1.8rem] text-[#09b285] px-[2rem] py-[1rem] mt-[1.2rem] flex items-center gap-3">
            <svg width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.0039 23.5521C36.2352 22.3563 35.4664 21.2032 34.6977 20.0074C34.5269 19.7511 34.5269 19.5803 34.6977 19.3241C35.4664 18.171 36.1925 17.0179 36.9612 15.8648C37.8581 14.4981 37.3883 13.1742 35.8508 12.619C34.5696 12.1492 33.2883 11.6367 32.0071 11.1669C31.7509 11.0815 31.6228 10.9107 31.6228 10.6117C31.58 9.20237 31.4946 7.79303 31.4092 6.42639C31.3238 4.93162 30.1707 4.07747 28.7186 4.46184C27.352 4.8035 25.9854 5.18786 24.6614 5.57224C24.3625 5.65765 24.1916 5.57224 23.9781 5.3587C23.124 4.2483 22.2271 3.18061 21.3729 2.11292C20.4334 0.917111 18.9813 0.917111 17.9991 2.11292C17.1449 3.18061 16.248 4.2483 15.4366 5.31599C15.2231 5.61494 15.0095 5.65765 14.6679 5.57224C13.3439 5.18787 12.02 4.84621 11.0804 4.58996C9.24401 4.16289 8.13362 4.88891 8.04819 6.42639C7.96278 7.83574 7.87737 9.24509 7.83466 10.6971C7.83466 10.9961 7.70653 11.1242 7.45029 11.2523C6.12636 11.7648 4.80243 12.2773 3.47849 12.7898C2.11185 13.345 1.68477 14.6689 2.49622 15.9075C3.26495 17.1033 4.03369 18.2564 4.80242 19.4522C4.97325 19.7084 4.97325 19.8793 4.80242 20.1782C3.99098 21.374 3.22224 22.5698 2.45351 23.8084C1.72748 24.9615 2.19726 26.3281 3.47848 26.8406C4.80242 27.3531 6.16906 27.8656 7.49299 28.3781C7.79194 28.4635 7.87735 28.6343 7.87735 28.9333C7.92006 30.2999 8.09089 31.6238 8.09089 32.9905C8.09089 34.3571 9.2867 35.5956 10.9523 35.0831C12.2762 34.6561 13.6002 34.3571 14.9241 33.9727C15.1803 33.8873 15.3512 33.93 15.522 34.1863C16.4189 35.2967 17.273 36.3644 18.1699 37.4748C19.1521 38.6706 20.5615 38.6706 21.5011 37.4748C22.3979 36.3644 23.2521 35.2967 24.1489 34.1863C24.3197 33.9727 24.4479 33.8873 24.7468 33.9727C26.1135 34.3571 27.4801 34.6988 28.8467 35.0831C30.2561 35.4675 31.4519 34.6134 31.4946 33.1613C31.58 31.752 31.6654 30.3426 31.7082 28.8905C31.7082 28.5489 31.879 28.4208 32.1352 28.3354C33.4165 27.8656 34.7404 27.3531 36.0216 26.8406C37.3883 26.1573 37.8153 24.7906 37.0039 23.5521ZM26.7968 16.5481L18.2553 25.0896C18.0418 25.3031 17.7428 25.4739 17.4439 25.5167C17.3584 25.5167 17.2303 25.5594 17.1449 25.5594C16.7605 25.5594 16.3335 25.3885 16.0345 25.0896L12.5325 21.5876C11.9346 20.9897 11.9346 20.0074 12.5325 19.4095C13.1304 18.8116 14.1127 18.8116 14.7106 19.4095L17.1022 21.8011L24.5333 14.37C25.1312 13.7721 26.1135 13.7721 26.7114 14.37C27.3947 14.9679 27.3947 15.9502 26.7968 16.5481Z" fill="#09B285"></path>
                </svg>
            {{ section.settings.gurantee_text }}
        </div>
    {% endif %}

    {% if section.settings.subscription_details != blank %}
        <div class="checkout__gurantee mt-[1.2rem] text-[1.3rem] flex items-center gap-3">
            <div class="w-[2.4rem] h-[2.4rem] flex-shrink-0">
                <svg fill="currentColor" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.631 383.631">
                    <path d="M47.331,210.289c-1.408,1.375-3.273,2.296-5.374,2.508c-0.116,0.012-0.232,0.021-0.349,0.029
                        c-0.006,0-0.013,0.001-0.02,0.001c-0.185,0.011-0.367,0.017-0.549,0.017c-2.109,0-4.073-0.737-5.624-1.982
                        c-0.001,0-0.001,0-0.001-0.001c-0.007-0.005-0.013-0.01-0.019-0.015c-0.002-0.001-0.004-0.003-0.006-0.004
                        c-0.004-0.003-0.009-0.007-0.013-0.011c-0.003-0.002-0.007-0.005-0.01-0.008s-0.006-0.005-0.009-0.007
                        c-0.004-0.003-0.009-0.007-0.013-0.01c-0.002-0.001-0.004-0.003-0.006-0.005c-0.005-0.004-0.011-0.008-0.016-0.013
                        c-0.046-0.038-0.092-0.077-0.138-0.116c-0.006-0.005-0.012-0.01-0.018-0.015c-0.001-0.001-0.002-0.002-0.003-0.002
                        c-0.005-0.004-0.01-0.009-0.016-0.013c-0.001-0.002-0.004-0.004-0.006-0.005c-0.004-0.004-0.008-0.007-0.013-0.011
                        c-0.003-0.002-0.006-0.005-0.009-0.007c-0.003-0.003-0.006-0.006-0.01-0.009c-0.004-0.004-0.009-0.008-0.014-0.012
                        c-0.001-0.002-0.003-0.003-0.005-0.005c-0.207-0.183-0.405-0.375-0.595-0.575L2.505,176.658c-3.44-3.587-3.322-9.285,0.266-12.725
                        c3.587-3.44,9.284-3.322,12.725,0.265l16.426,17.125c3.887-58.736,40.101-111.535,95.123-135.771
                        c39.08-17.212,82.524-18.177,122.331-2.714c39.805,15.462,71.206,45.501,88.417,84.582c2.004,4.549-0.06,9.861-4.608,11.864
                        c-4.55,2.003-9.862-0.061-11.864-4.609c-15.273-34.68-43.139-61.336-78.462-75.058c-35.322-13.721-73.875-12.867-108.558,2.409
                        C85.342,83.591,53.163,130.64,49.854,182.927l18.381-17.632c3.589-3.44,9.285-3.322,12.726,0.265s3.322,9.284-0.265,12.725
                        L47.331,210.289z M381.087,207.409l-32.648-33.615c-1.759-1.838-4.291-2.921-7-2.769c-0.005,0-0.01,0-0.017,0.001
                        c-0.143,0.008-0.285,0.02-0.428,0.034c-2.123,0.221-4.005,1.169-5.415,2.575l-32.732,32.273c-3.54,3.49-3.58,9.188-0.091,12.728
                        c3.491,3.54,9.189,3.58,12.728,0.09l17.594-17.346c-3.513,52.052-35.643,98.837-84.405,120.314
                        c-18.545,8.168-37.91,12.033-56.982,12.032c-54.556-0.002-106.675-31.636-130.038-84.682c-2.003-4.548-7.314-6.612-11.864-4.609
                        c-4.549,2.003-6.612,7.315-4.608,11.864c26.329,59.781,85.053,95.43,146.536,95.426c21.487-0.001,43.319-4.357,64.213-13.559
                        c55.03-24.239,91.261-77.082,95.127-135.845l17.12,17.627c3.463,3.565,9.16,3.649,12.727,0.186
                        C384.467,216.673,384.55,210.975,381.087,207.409z"></path>
                </svg>
            </div>
            <div>
                Refill ships in <span x-text="minQty"></span> months. Change or cancel easily. Free shipping & Gifts with 1st purchase.
            </div>
        </div>
    {% endif %}
</section>