<div class="features__item flex flex-col justify-center items-center gap-2 md:gap-5 w-[var(--item-width)] bg-white rounded-lg px-2 py-5 md:pt-9 md:pb-8 min-h-[10.5rem]" style="border: 1px solid #CCCCCC; --item-height: {{ height }}px;">
    <div class="features__item-icon">
      {{ icon }}
    </div>
    <div class="features__item-title text-center">
      {{ title }}
    </div>
</div>