<div class="product__gallery-inner flex flex-col-reverse lg:flex-row gap-4">
    <div class="swiper thumbnail-gallery swiper-vertical overflow-hidden flex-shrink-0">
        <div class="swiper-wrapper">
            {% for image in product.images %}
            <div class="swiper-slide">
                <div class="thumbnail-gallery__item overflow-hidden rounded-[0.8rem]">
                    {% render 'img', image: image, max_width: 240 %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="swiper main-gallery w-full overflow-hidden relative">
        <div class="swiper-wrapper">
            {% for image in product.images %}
            <div class="swiper-slide">
                {% render 'img', image: image, max_width: 1400 %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% stylesheet %}
    .thumbnail-gallery .swiper-slide {
        width: calc(20% - 0.6rem);
        flex-shrink: 0;
        margin-bottom: 0.8rem;
    }

    .thumbnail-gallery__item {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        border: 0.2rem solid #ccc;
        cursor: pointer;
        aspect-ratio: 1/1;
    }

    .thumbnail-gallery__item img {
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
        object-fit: cover;
    }

    .thumbnail-gallery__item--active {
        border-color: #5299FF !important;
    }

    @media (min-width: 1024px) {
        .swiper-vertical>.swiper-wrapper {
            flex-direction: column;
        }

        .thumbnail-gallery {
            height: 45rem;
        }

        .thumbnail-gallery .swiper-slide {
            margin-right: 0;
            width: 8.3rem;
            height: 8.3rem;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
        }
    }

    @media (max-width: 768px) {
        .thumbnail-gallery .swiper-slide {
            width: calc(20% - 0.6rem);
            margin-right: 0.6rem;
        }

        .thumbnail-gallery__item {
            border-width: 0.1rem;
            padding: 0.5rem;
        }
    }
{% endstylesheet %}

<script>
document.addEventListener('DOMContentLoaded', function() {
   
    const thumbnailSwiper = new Swiper('.thumbnail-gallery', {
        slidesPerView: 'auto',
        spaceBetween: 6,
        freeMode: true,
        watchSlidesProgress: true,
        speed: 1000,
        breakpoints: {
            1024: {
                spaceBetween: 0,
                direction: 'vertical'
            }
        },
    });

 
    const mainSwiper = new Swiper('.main-gallery', {
        spaceBetween: 10,
        slidesPerView: 1,
        thumbs: {
            swiper: thumbnailSwiper
        }
    });

    
    const thumbnailItems = document.querySelectorAll('.thumbnail-gallery__item');
    
    thumbnailItems.forEach((item, index) => {
        item.addEventListener('click', () => {
            mainSwiper.slideTo(index);
            
            thumbnailItems.forEach(thumb => thumb.classList.remove('thumbnail-gallery__item--active'));
            item.classList.add('thumbnail-gallery__item--active');
        });
    });

    
    mainSwiper.on('slideChange', function () {
        const activeIndex = mainSwiper.activeIndex;
        
        thumbnailItems.forEach(thumb => thumb.classList.remove('thumbnail-gallery__item--active'));
        
        if (thumbnailItems[activeIndex]) {
            thumbnailItems[activeIndex].classList.add('thumbnail-gallery__item--active');
        }
    });

    if (thumbnailItems[0]) {
        thumbnailItems[0].classList.add('thumbnail-gallery__item--active');
    }
});
</script>
