.btn {
    display: inline-block;
    white-space: nowrap;
    border-radius: 4.6rem;
    background-color: var(--color-slimyGreen);
    color: var(--color-white);
    border: 2px solid var(--color-laSalleGreen);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    padding: 0 2.4rem;
    font-weight: 700;
    transition: all 0.3s ease;
    max-width: 30rem;
    text-align: center;

    &:hover {
        background-color: var(--color-white);
        border-color: var(--color-slimyGreen);
        color: var(--color-slimyGreen);
    }
}