<div class="layout-item">
    {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Column",
  "tag": null,
  "blocks": [
    {
        "type": "@theme"
    },
    {
        "type": "_product-card"
    }
  ],
  "presets": [
    {
      "name": "Column"
    }
  ]
}
{% endschema %}