{% assign shipping_date = 'now' | date: '%s' %}
{% assign bst = block.settings %}

<div class="text-center mt-[0.6rem] mb-[1.6rem] font-bold bg-[#E9F7FE] italic leading-[3.4rem] px-[1.6rem]">
    🍒  1 Bag Contains 30 Delicious Packets  🍉
</div>

<div class="font-medium flex items-center justify-center bg-[#fff] border-[1px] border-dashed border-[#0D3063] rounded-[.5rem] h-[3.4rem] p-[.73rem] mb-2 text-[1.5rem] md:text-base hidden">
    <div class="w-[4.4rem] h-[4.4rem] ml-[-1rem]" id="lottie"></div>
    <div class="ml-[-.5rem]">
        Order by {{ shipping_date  | date: '%b %d' }} for guaranteed FREE Gifts
    </div>
</div>

<div>
    <div class="checkout__sizes grid grid-cols-3 gap-4 mt-[1.6rem] mb-[1rem]" x-show="multistepFlow && currentStep == 1">
        <template x-for="pouch in pouches">
            <label class="checkout__size block">
                <input type="radio" name="pouches" x-model="minQty" :checked="pouch.minQty === minQty" :value="pouch.minQty">
                
                <div class="checkout__size-inner min-h-[100%]" :data-blue-label="pouch.blue_badge ? pouch.blue_badge : null" :data-yellow-label="pouch.yellow_badge ? pouch.yellow_badge : null">
                    <div class="checkout__size-title font-bold" x-text="pouch.title"></div>
                    <div class="checkout__size-price font-medium text-[1.5rem] text-[#000]" x-text="formatMoney(pouch.price_per_packet) + '/each'"></div>
                    <div class="inline-flex items-center justify-center px-[0.8rem] md:px-[1.6rem] rounded-full font-medium h-[2rem] text-[#333333] text-[1.5rem] bg-[#C4FFB5] text-[#0D3063]">
                        <div x-text="pouch.saving_percent" class="leading-1"></div>
                    </div>
                </div>
            </label>
        </template>
    </div>
</div>

<div class="my-[1.6rem] relative text-center text-baseLg font-bold" x-show="currentStep == 2">
    <button class="flex items-center justify-center mr-[.6rem] w-[2.8rem] h-[2.8rem] rounded-full bg-[#0D3063] text-white p-[.6rem] absolute left-0 top-[50%] translate-y-[-50%] py-[1.4rem]" @click="currentStep = 1">
        <svg class="rotate-180" width="12" height="12" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.672 7.70302L0.5 7.70302V9.70302H12.672L7.308 15.067L8.722 16.481L16.5 8.70302L8.722 0.925018L7.308 2.33902L12.672 7.70302Z" fill="white"></path>
        </svg>
    </button> 
    <span>Select at least <span x-text="minQty"></span> bags</span>
</div>

<div class="product__flavors flex flex-col gap-[.8rem]" x-show="multistepFlow && currentProduct.variants.length > 0 && currentStep == 2">
        
    <template x-for="variant in currentProduct.variants" :key="variant.id">
        <div class="checkout__flavor flex items-center">
            <div class="checkout__flavor-image mr-6 w-[6.4rem] h-[6.4rem] overflow-hidden flex-shrink-0">
                <img :src="variant.image" :alt="variant.title" class="w-full h-full object-cover">
            </div>

            <div class="checkout__flavor-content w-[100%]">
                <div class="checkout__flavor-title font-bold">
                    <span x-text="variant.title"></span>
                </div>

                <div class="text-sm md:text-base text-[#333]" x-show="variant?.description" x-text="variant?.description"></div>
            </div>

            <div class="checkout__flavor-qty w-[9.3rem] flex-shrink-0">

                <div class="checkout__flavor-qty w-[7.7rem] flex-shrink-0" x-show="variant.quantity == 0">
                    <button class="btn btn--add w-full" @click="variant.quantity++; recalculateTotal()">Add+</button>
                </div>

                <div class="qty-picker flex items-center gap-2 mb-2 text-[#111111]" x-show="variant.quantity > 0">
                    <button class="qty-picker__btn" @click="variant.quantity > 0 && variant.quantity--; recalculateTotal()">
                        <svg width="14" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.534084 2.14009H8.87706C9.1046 2.14009 9.25629 1.9884 9.25629 1.76086V1.00241C9.25629 0.774875 9.1046 0.623184 8.87706 0.623184H0.534084C0.306549 0.623184 0.154859 0.774875 0.154859 1.00241V1.76086C0.154859 1.9884 0.306549 2.14009 0.534084 2.14009Z" fill="currentColor"/>
                        </svg>                                
                    </button>
                    <input type="number" class="qty-picker__input text-center w-[2.4rem]" :value="variant.quantity" @change="variant.quantity = $event.target.value; recalculateTotal()">
                    <button class="qty-picker__btn" @click="variant.quantity++; recalculateTotal()">
                        <svg width="12" height="12" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.594739 5.00245V5.7609C0.594739 5.98844 0.746429 6.14013 0.973965 6.14013H4.387V9.55317C4.387 9.7807 4.53869 9.93239 4.76623 9.93239H5.52468C5.75221 9.93239 5.90391 9.7807 5.90391 9.55317V6.14013H9.31694C9.54448 6.14013 9.69617 5.98844 9.69617 5.7609V5.00245C9.69617 4.77492 9.54448 4.62322 9.31694 4.62322H5.90391V1.21019C5.90391 0.982654 5.75221 0.830963 5.52468 0.830963H4.76623C4.53869 0.830963 4.387 0.982654 4.387 1.21019V4.62322H0.973965C0.746429 4.62322 0.594739 4.77492 0.594739 5.00245Z" fill="currentColor"/>
                        </svg>                                
                    </button>
                </div>
            </div>
        </div>
    </template>
</div>

<div class="mt-4 text-center checkout__gifts text-center bg-[#E2F0FF] py-[0.8rem] px-[1.2rem] rounded-[1.2rem] border-[1px] border-dashed border-[#75BDFE]">
    <div class="checkout__gifts-header">
        <h2 class="checkout__gifts-title text-[1.8rem] p-[.35rem] bg-white text-center rounded-[.6rem] font-bold"> Unlock $75.00 of Free Gifts! 🎁</h2>
    </div>

    <div class="checkout__gifts-description text-sm leading-[1.2] mt-2 mb-2 font-bold">
        <span x-show="currentQty == 1 || minQty == 1">
            Add a 2nd Pouch, Get a Nectar Bottle
        </span>
        <span x-show="minQty == 2">
            Add a 3nd Pouch, Get a Nectar Frother
        </span>
        {% comment %} <span x-show="currentQty == 3">
            Add a 4th Pouch, Get a Nectar Frother
        </span> {% endcomment %}
        <span x-show="minQty >= 3">
            Congratulations! All Gifts Unlocked!
        </span>
    </div>

    <div class="checkout__gifts-products grid grid-cols-4 gap-4">
        <template x-for="(product, index) in giftsProducts">
            <div class="checkout__gifts-product" 
                x-data="{ 
                    currentIndex: index+1,
                    message: `2+ Bags`,
                    labels: ['2+ Bags', '2+ Bags', 'Unlock at 2 Bags', 'Unlock At 3 Bags']
                }"
            >
                <div class="checkout__gifts-product-inner rounded-[.8rem] overflow-hidden">
                    <div class="checkout__gifts-product-price uppercase text-[1.1rem] md:text-xs text-white bg-coolBlack px-[.4rem] py-[.3rem]">
                        free <span class="line-through" x-text="allGiftsAvailableMoreThanOne && index == 1 ? '$15.99' : formatMoney(product.price)"></span>
                    </div>
                    
                    <div class="checkout__gifts-product-image h-[6rem] p-[.2rem] relative">
                        <img :src="product.image" :alt="product.title" class="w-full h-full object-contain" width="100" height="100">

                        <template x-if="allGiftsAvailableEqual3">
                            <div class="checkout__gifts-product-locked" x-show="index > minQty">
                                <svg width="25" height="33" viewBox="0 0 25 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.11098 32.3333C2.2707 32.3333 1.55162 32.0372 0.953753 31.4451C0.354864 30.8519 0.0554199 30.1391 0.0554199 29.3069V14.1746C0.0554199 13.3423 0.354864 12.6296 0.953753 12.0364C1.55162 11.4442 2.2707 11.1481 3.11098 11.1481H4.63875V8.12168C4.63875 6.02838 5.3838 4.24378 6.87389 2.76788C8.36297 1.29299 10.1642 0.555542 12.2776 0.555542C14.3911 0.555542 16.1928 1.29299 17.6829 2.76788C19.172 4.24378 19.9165 6.02838 19.9165 8.12168V11.1481H21.4443C22.2846 11.1481 23.0042 11.4442 23.6031 12.0364C24.2009 12.6296 24.4999 13.3423 24.4999 14.1746V29.3069C24.4999 30.1391 24.2009 30.8519 23.6031 31.4451C23.0042 32.0372 22.2846 32.3333 21.4443 32.3333H3.11098ZM7.69431 11.1481H16.861V8.12168C16.861 6.86066 16.4154 5.78879 15.5242 4.90607C14.633 4.02336 13.5508 3.582 12.2776 3.582C11.0045 3.582 9.92232 4.02336 9.03111 4.90607C8.13991 5.78879 7.69431 6.86066 7.69431 8.12168V11.1481ZM12.2776 24.7672C13.1179 24.7672 13.8375 24.4711 14.4364 23.8789C15.0343 23.2857 15.3332 22.573 15.3332 21.7407C15.3332 20.9085 15.0343 20.1957 14.4364 19.6025C13.8375 19.0104 13.1179 18.7143 12.2776 18.7143C11.4374 18.7143 10.7183 19.0104 10.1204 19.6025C9.52153 20.1957 9.22209 20.9085 9.22209 21.7407C9.22209 22.573 9.52153 23.2857 10.1204 23.8789C10.7183 24.4711 11.4374 24.7672 12.2776 24.7672Z" fill="currentColor"></path>
                                </svg>

                                <div class="checkout__gifts-product-locked-text">
                                    <span x-text="labels[index]"></span>
                                </div>
                            </div>
                        </template>
                    </div>

                </div>

                <div class="checkout__gifts-product-name whitespace-nowrap text-center font-medium md:font-normal text-[1.1rem] md:text-xs mt-1">
                    <span x-text="product.title"></span>
                </div>
            </div>
        </template>
    </div>
</div>

<div class="bg-[#E9F4FF] flex items-center justify-between rounded-[3rem] px-2 py-1.5 md:px-[0.8rem] text-sm my-4">
    <div class="product__cta-shipping-label">
        <div class="flex items-center gap-1">
            <div class="w-[1.6rem] h-[1.6rem] mr-1 bg-[#7FB190] rounded-full blink-animation"></div>
            Ships by

            <b><em>{{ shipping_date | date: '%a, %b %d' }}</em></b>
        </div>
    </div>
    <div class="product__cta-shipping-label flex items-center gap-2">
        <svg width="22" height="20" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 4.09277H0V20.0929H24V4.09277Z" fill="white"></path>
            <path d="M24 6.09253H0V8.09236H24V6.09253Z" fill="#D80027"></path>
            <path d="M24 10.0928H0V12.0926H24V10.0928Z" fill="#D80027"></path>
            <path d="M24 14.0923H0V16.0921H24V14.0923Z" fill="#D80027"></path>
            <path d="M24 18.0925H0V20.0924H24V18.0925Z" fill="#D80027"></path>
            <path d="M12 4.09277H0V12.7083H12V4.09277Z" fill="#2E52B2"></path>
            <path d="M4.67923 7.62207L4.48596 8.21663H3.86084L4.36667 8.5839L4.1734 9.17841L4.67923 8.81115L5.18473 9.17841L4.99151 8.5839L5.49734 8.21663H4.87217L4.67923 7.62207Z" fill="white"></path>
            <path d="M4.87217 10.3621L4.67923 9.76758L4.48596 10.3621H3.86084L4.36667 10.7294L4.1734 11.3239L4.67923 10.9566L5.18473 11.3239L4.99151 10.7294L5.49734 10.3621H4.87217Z" fill="white"></path>
            <path d="M2.23012 10.3621L2.03714 9.76758L1.84388 10.3621H1.21875L1.72458 10.7294L1.53131 11.3239L2.03714 10.9566L2.54269 11.3239L2.34947 10.7294L2.8552 10.3621H2.23012Z" fill="white"></path>
            <path d="M2.03714 7.62207L1.84388 8.21663H1.21875L1.72458 8.5839L1.53131 9.17841L2.03714 8.81115L2.54269 9.17841L2.34947 8.5839L2.8552 8.21663H2.23012L2.03714 7.62207Z" fill="white"></path>
            <path d="M4.67923 5.47632L4.48596 6.07093H3.86084L4.36667 6.43824L4.1734 7.03276L4.67923 6.66544L5.18473 7.03276L4.99151 6.43824L5.49734 6.07093H4.87217L4.67923 5.47632Z" fill="white"></path>
            <path d="M2.03714 5.47632L1.84388 6.07093H1.21875L1.72458 6.43824L1.53131 7.03276L2.03714 6.66544L2.54269 7.03276L2.34947 6.43824L2.8552 6.07093H2.23012L2.03714 5.47632Z" fill="white"></path>
            <path d="M7.32127 7.62207L7.12805 8.21663H6.50293L7.00871 8.5839L6.81554 9.17841L7.32127 8.81115L7.82687 9.17841L7.6336 8.5839L8.13943 8.21663H7.5143L7.32127 7.62207Z" fill="white"></path>
            <path d="M7.5143 10.3621L7.32127 9.76758L7.12805 10.3621H6.50293L7.00871 10.7294L6.81554 11.3239L7.32127 10.9566L7.82687 11.3239L7.6336 10.7294L8.13943 10.3621H7.5143Z" fill="white"></path>
            <path d="M10.1559 10.3621L9.96288 9.76758L9.76961 10.3621H9.14453L9.65027 10.7294L9.45705 11.3239L9.96288 10.9566L10.4684 11.3239L10.2752 10.7294L10.781 10.3621H10.1559Z" fill="white"></path>
            <path d="M9.96288 7.62207L9.76961 8.21663H9.14453L9.65027 8.5839L9.45705 9.17841L9.96288 8.81115L10.4684 9.17841L10.2752 8.5839L10.781 8.21663H10.1559L9.96288 7.62207Z" fill="white"></path>
            <path d="M7.32127 5.47632L7.12805 6.07093H6.50293L7.00871 6.43824L6.81554 7.03276L7.32127 6.66544L7.82687 7.03276L7.6336 6.43824L8.13943 6.07093H7.5143L7.32127 5.47632Z" fill="white"></path>
            <path d="M9.96288 5.47632L9.76961 6.07093H9.14453L9.65027 6.43824L9.45705 7.03276L9.96288 6.66544L10.4684 7.03276L10.2752 6.43824L10.781 6.07093H10.1559L9.96288 5.47632Z" fill="white"></path>
            </svg>

            <p>Fast <strong>FREE</strong> Shipping</p>
    </div>
</div>

<a :href="`/pages/offer?view=offer-only-flavors&minQty=${minQty}&product-handle=${currentProduct.handle}`" class="flex items-center justify-center gap-3 md:gap-[1.2rem] text-[1.6rem] md:text-[2rem] font-bold bg-[#21A600] border-[.2rem] h-[6.6rem] border-[#037C2B] hover:bg-[#037C2B] rounded-[1rem] text-white w-full">
    <span>Select Flavors</span>

    <span class="inline-flex items-center justify-center font-medium h-[2.4rem] bg-[#0D3063] text-white text-base rounded-full px-[1.2rem] gap-[.8rem]">
        <template x-if="currentQty <= maxQty">
            <div>
                <span class="line-through text-[#D8D8D8]" x-text="formatMoney(currentPouch?.compare_at_price)"></span>

                <span x-text="formatMoney(currentPouch?.price)"></span>
            </div>
        </template>

        <template x-if="currentQty > maxQty">
            <div>
                <span class="line-through text-[#D8D8D8]" x-text="formatMoney(currentPouch?.compare_price_per_packet * currentQty)"></span>

                <span x-text="formatMoney(currentPouch?.price_per_packet * currentQty)"></span>
            </div>
        </template>
    </span>

    <span class="ml-[.6rem]">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.672 7.70302L0.5 7.70302V9.70302H12.672L7.308 15.067L8.722 16.481L16.5 8.70302L8.722 0.925018L7.308 2.33902L12.672 7.70302Z" fill="white"></path>
        </svg>
    </span>
</a>

<div class="bg-[#FFFBE2] rounded-[0.3rem] mt-[0.6rem] flex items-center">
    <div class="w-[5.8rem] h-[5.8rem] flex-shrink-0 flex items-center justify-center">
        <img src="https://cdn.shopify.com/s/files/1/0309/2257/1835/files/guarantee_image.png?v=1753573319" alt="Guarantee Badge" class="w-full h-full object-contain" width="58" height="58">
    </div>
    <div class="text-[1.3rem] md:text-sm font-family-poppins font-medium text-left text-[#222222] p-[0.6rem_2.6rem_.6rem_1rem] md:leading-[1.1]">
        <b>Less than 1%</b> of our customers use our <br><b>90-day money back guarantee.*</b>
    </div>
</div>

<div class="checkout__gurantee mt-[0.8rem] text-[1.3rem] flex items-center gap-3">
    <div class="w-[2.4rem] h-[2.4rem] flex-shrink-0">
        <svg fill="currentColor" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.631 383.631">
            <path d="M47.331,210.289c-1.408,1.375-3.273,2.296-5.374,2.508c-0.116,0.012-0.232,0.021-0.349,0.029
                c-0.006,0-0.013,0.001-0.02,0.001c-0.185,0.011-0.367,0.017-0.549,0.017c-2.109,0-4.073-0.737-5.624-1.982
                c-0.001,0-0.001,0-0.001-0.001c-0.007-0.005-0.013-0.01-0.019-0.015c-0.002-0.001-0.004-0.003-0.006-0.004
                c-0.004-0.003-0.009-0.007-0.013-0.011c-0.003-0.002-0.007-0.005-0.01-0.008s-0.006-0.005-0.009-0.007
                c-0.004-0.003-0.009-0.007-0.013-0.01c-0.002-0.001-0.004-0.003-0.006-0.005c-0.005-0.004-0.011-0.008-0.016-0.013
                c-0.046-0.038-0.092-0.077-0.138-0.116c-0.006-0.005-0.012-0.01-0.018-0.015c-0.001-0.001-0.002-0.002-0.003-0.002
                c-0.005-0.004-0.01-0.009-0.016-0.013c-0.001-0.002-0.004-0.004-0.006-0.005c-0.004-0.004-0.008-0.007-0.013-0.011
                c-0.003-0.002-0.006-0.005-0.009-0.007c-0.003-0.003-0.006-0.006-0.01-0.009c-0.004-0.004-0.009-0.008-0.014-0.012
                c-0.001-0.002-0.003-0.003-0.005-0.005c-0.207-0.183-0.405-0.375-0.595-0.575L2.505,176.658c-3.44-3.587-3.322-9.285,0.266-12.725
                c3.587-3.44,9.284-3.322,12.725,0.265l16.426,17.125c3.887-58.736,40.101-111.535,95.123-135.771
                c39.08-17.212,82.524-18.177,122.331-2.714c39.805,15.462,71.206,45.501,88.417,84.582c2.004,4.549-0.06,9.861-4.608,11.864
                c-4.55,2.003-9.862-0.061-11.864-4.609c-15.273-34.68-43.139-61.336-78.462-75.058c-35.322-13.721-73.875-12.867-108.558,2.409
                C85.342,83.591,53.163,130.64,49.854,182.927l18.381-17.632c3.589-3.44,9.285-3.322,12.726,0.265s3.322,9.284-0.265,12.725
                L47.331,210.289z M381.087,207.409l-32.648-33.615c-1.759-1.838-4.291-2.921-7-2.769c-0.005,0-0.01,0-0.017,0.001
                c-0.143,0.008-0.285,0.02-0.428,0.034c-2.123,0.221-4.005,1.169-5.415,2.575l-32.732,32.273c-3.54,3.49-3.58,9.188-0.091,12.728
                c3.491,3.54,9.189,3.58,12.728,0.09l17.594-17.346c-3.513,52.052-35.643,98.837-84.405,120.314
                c-18.545,8.168-37.91,12.033-56.982,12.032c-54.556-0.002-106.675-31.636-130.038-84.682c-2.003-4.548-7.314-6.612-11.864-4.609
                c-4.549,2.003-6.612,7.315-4.608,11.864c26.329,59.781,85.053,95.43,146.536,95.426c21.487-0.001,43.319-4.357,64.213-13.559
                c55.03-24.239,91.261-77.082,95.127-135.845l17.12,17.627c3.463,3.565,9.16,3.649,12.727,0.186
                C384.467,216.673,384.55,210.975,381.087,207.409z"></path>
        </svg>
    </div>
    <div>
        Refill ships in <span x-text="minQty">3</span> months. Change or cancel easily. Free shipping &amp; Gifts with 1st purchase.
    </div>
    
</div>

{% schema %}
{
  "name": "Gift Multistep Flow",
  "settings": [
    {
        "type": "header",
        "content": "Pouches"
    },
    {
        "type": "metaobject_list",
        "id": "related_pouches",
        "label": "Related Pouches",
        "metaobject_type": "pouche"
    },
    {
      "type": "header",
      "content": "Gifts"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "gifts_title"
    }
  ],

  "presets": [
    {
      "name": "Gift Multistep Flow"
    }
  ]
}
{% endschema %}