{% assign shipping_date = 'now' | date: '%s' %}
{% assign bst = block.settings %}

<div class="text-center mt-[0.6rem] mb-[1.6rem] font-bold bg-[#E9F7FE] italic leading-[3.4rem] px-[1.6rem]">
    🍒  1 Bag Contains 30 Delicious Packets  🍉
</div>

<div class="font-medium flex items-center justify-center bg-[#fff] border-[1px] border-dashed border-[#0D3063] rounded-[.5rem] h-[3.4rem] p-[.73rem] mb-2 text-[1.5rem] md:text-base">
    <div class="w-[4.4rem] h-[4.4rem] ml-[-1rem]" id="lottie"></div>
    <div class="ml-[-.5rem]">
        Order by {{ shipping_date  | date: '%b %d' }} for guaranteed FREE Gifts
    </div>
</div>

<div>
    <div class="checkout__sizes grid grid-cols-3 gap-4 mt-[1.6rem] mb-[1rem]">
        <template x-for="pouch in pouches">
            <label class="checkout__size block">
                <input type="radio" name="pouches" x-model="minQty" :checked="pouch.minQty === minQty" :value="pouch.minQty">
                
                <div class="checkout__size-inner min-h-[100%]" :data-blue-label="pouch.blue_badge ? pouch.blue_badge : null" :data-yellow-label="pouch.yellow_badge ? pouch.yellow_badge : null">
                    <div class="checkout__size-title font-bold" x-text="pouch.title"></div>
                    <div class="checkout__size-price font-medium text-[1.5rem] text-[#000]" x-text="formatMoney(pouch.price_per_packet) + '/each'"></div>
                    <div class="inline-flex items-center justify-center px-[0.8rem] md:px-[1.6rem] rounded-full font-medium h-[2rem] text-[#333333] text-[1.5rem] bg-[#C4FFB5] text-[#0D3063]">
                        <div x-text="pouch.saving_percent" class="leading-1"></div>
                    </div>
                </div>
            </label>
        </template>
    </div>
</div>

<div class="product__flavors flex flex-col gap-[.8rem]" x-show="currentProduct.variants.length > 0">
        
    <template x-for="variant in currentProduct.variants" :key="variant.id">
        <div class="checkout__flavor flex items-center">
            <div class="checkout__flavor-image mr-6 w-[6.4rem] h-[6.4rem] overflow-hidden flex-shrink-0">
                <img :src="variant.image" :alt="variant.title" class="w-full h-full object-cover">
            </div>

            <div class="checkout__flavor-content w-[100%]">
                <div class="checkout__flavor-title font-bold">
                    <span x-text="variant.title"></span>
                </div>

                <div class="text-sm md:text-base text-[#333]" x-show="variant?.description" x-text="variant?.description"></div>
            </div>

            <div class="checkout__flavor-qty w-[9.3rem] flex-shrink-0">

                <div class="checkout__flavor-qty w-[7.7rem] flex-shrink-0" x-show="variant.quantity == 0">
                    <button class="btn btn--add w-full" @click="variant.quantity++; recalculateTotal()">Add+</button>
                </div>

                <div class="qty-picker flex items-center gap-2 mb-2 text-[#111111]" x-show="variant.quantity > 0">
                    <button class="qty-picker__btn" @click="variant.quantity > 0 && variant.quantity--; recalculateTotal()">
                        <svg width="14" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.534084 2.14009H8.87706C9.1046 2.14009 9.25629 1.9884 9.25629 1.76086V1.00241C9.25629 0.774875 9.1046 0.623184 8.87706 0.623184H0.534084C0.306549 0.623184 0.154859 0.774875 0.154859 1.00241V1.76086C0.154859 1.9884 0.306549 2.14009 0.534084 2.14009Z" fill="currentColor"/>
                        </svg>                                
                    </button>
                    <input type="number" class="qty-picker__input text-center w-[2.4rem]" :value="variant.quantity" @change="variant.quantity = $event.target.value; recalculateTotal()">
                    <button class="qty-picker__btn" @click="variant.quantity++; recalculateTotal()">
                        <svg width="12" height="12" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.594739 5.00245V5.7609C0.594739 5.98844 0.746429 6.14013 0.973965 6.14013H4.387V9.55317C4.387 9.7807 4.53869 9.93239 4.76623 9.93239H5.52468C5.75221 9.93239 5.90391 9.7807 5.90391 9.55317V6.14013H9.31694C9.54448 6.14013 9.69617 5.98844 9.69617 5.7609V5.00245C9.69617 4.77492 9.54448 4.62322 9.31694 4.62322H5.90391V1.21019C5.90391 0.982654 5.75221 0.830963 5.52468 0.830963H4.76623C4.53869 0.830963 4.387 0.982654 4.387 1.21019V4.62322H0.973965C0.746429 4.62322 0.594739 4.77492 0.594739 5.00245Z" fill="currentColor"/>
                        </svg>                                
                    </button>
                </div>
            </div>
        </div>
    </template>
</div>

<div class="mt-4 text-center">
    <div class="checkout__gifts-header mb-3">
        <h2 class="checkout__gifts-title bg-[#e2f0ff] px-[0.6rem] text-center rounded-[.6rem] font-bold border-[1px] border-[#75bdff] border-dashed flex items-center justify-center gap-2 h-[2.4rem]"> 
            <div class="mt-1" x-show="!allGiftsAvailableMoreThanOne">
                {{ block.settings.gifts_title }}
            </div>

            
            <div class="mt-1" x-show="allGiftsAvailableMoreThanOne" x-text="minQty == 1 ? '$22.99 of Gifts With Your First Order!' : '{{ block.settings.gifts_title }}' "></div>

            <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1415_5723)">
                <path d="M14.2449 15.9894H1.75635C1.4292 15.9894 1.16406 15.7242 1.16406 15.3971V5.84741H14.8373V15.3971C14.8373 15.7242 14.572 15.9894 14.2449 15.9894Z" fill="#FFC73B"/>
                <path d="M1.16406 5.84741H14.8373V7.83459H1.16406V5.84741Z" fill="#EFB025"/>
                <path d="M16 3.77576V6.23767C16 6.50061 15.7866 6.71362 15.5237 6.71362H0.475952C0.213013 6.71362 0 6.50061 0 6.23767V3.77576C0 3.51282 0.213013 3.2998 0.475952 3.2998H15.5237C15.7866 3.2998 16 3.51282 16 3.77576Z" fill="#FFC73B"/>
                <path d="M7.45422 4.43164C7.35034 4.55261 7.24841 4.67529 7.14893 4.79932C6.7782 5.26062 6.43884 5.74402 6.13208 6.24573C6.03772 6.40002 5.94666 6.55591 5.85828 6.71362H2.61328C2.80286 6.28345 3.01074 5.86121 3.23596 5.44849C3.64441 4.69971 4.11047 3.9812 4.63123 3.2998C4.75562 3.13708 4.88293 2.97632 5.01343 2.81799C5.09155 2.72253 5.17102 2.62842 5.25159 2.53467C5.54773 2.78979 5.84363 3.04468 6.13989 3.2998C6.18579 3.33911 6.23169 3.37891 6.27747 3.41833C6.62708 3.71936 6.97668 4.02026 7.32617 4.32166C7.36902 4.35803 7.4115 4.39502 7.45422 4.43164Z" fill="#EFB025"/>
                <path d="M12.2987 6.71362H9.05347C8.96545 6.55591 8.87402 6.40002 8.77966 6.24573C8.4729 5.74402 8.13318 5.26062 7.76282 4.79932C7.66296 4.67529 7.56104 4.55261 7.45703 4.43164C7.49988 4.39502 7.54236 4.35828 7.58521 4.32166C7.93506 4.02026 8.28467 3.71899 8.63416 3.41833C8.68005 3.37891 8.72595 3.33911 8.77185 3.2998C9.06799 3.04468 9.36426 2.78979 9.66016 2.53467C9.74072 2.62817 9.82019 2.72253 9.89832 2.81775C10.0291 2.97632 10.1565 3.13708 10.2805 3.2998C10.8013 3.9812 11.2673 4.69971 11.676 5.44849C11.9012 5.86121 12.1091 6.28345 12.2987 6.71362Z" fill="#EFB025"/>
                <path d="M7.99878 4.43188C7.89478 4.55273 7.79285 4.67542 7.69336 4.79944C7.32275 5.26074 6.98328 5.74414 6.67651 6.24597C5.70264 7.83789 5.05579 9.61621 4.78296 11.4775C4.37293 10.9337 3.99451 10.3453 3.65405 9.71619C3.05518 10.1068 2.46985 10.5536 1.90625 11.0563C2.19568 9.08191 2.83337 7.1842 3.78052 5.44861C4.28638 4.52112 4.88086 3.63989 5.55786 2.81812C5.63599 2.72266 5.71545 2.62866 5.79602 2.53479C6.13806 2.82935 6.47986 3.1239 6.82202 3.41846C7.17151 3.71948 7.52112 4.02039 7.87073 4.32178C7.91345 4.35815 7.95593 4.39514 7.99878 4.43188Z" fill="#FF4440"/>
                <path d="M14.0928 11.0563C13.5292 10.5536 12.9438 10.1068 12.345 9.71619C12.0045 10.3453 11.6261 10.9337 11.2161 11.4775C10.9432 9.61621 10.2965 7.83789 9.32251 6.24597C9.01575 5.74414 8.67603 5.26074 8.30566 4.79944C8.20581 4.67542 8.10388 4.55273 8 4.43188C8.04272 4.39514 8.08521 4.3584 8.12805 4.32178C8.47791 4.02039 8.82751 3.71912 9.17712 3.41846C9.51917 3.12354 9.86133 2.82935 10.203 2.53479C10.2836 2.6283 10.363 2.72266 10.4412 2.81787C11.1183 3.63965 11.7128 4.52087 12.2189 5.44861C13.1658 7.1842 13.8033 9.08191 14.0928 11.0563Z" fill="#FF4440"/>
                <path d="M6.72656 4.43188H9.27429V6.71362H6.72656V4.43188Z" fill="#FF4440"/>
                <path d="M12.2189 5.44861L9.32251 6.24597C9.01575 5.74414 8.67603 5.26074 8.30566 4.79944L8.12805 4.32178L8 3.9773L9.17712 3.41846L10.4412 2.81787C11.1183 3.63965 11.7128 4.52087 12.2189 5.44861Z" fill="#EA2F2F"/>
                <path d="M7.99976 3.9773L7.8717 4.32178L7.69434 4.79944C7.32373 5.26074 6.98425 5.74414 6.67749 6.24597L3.78149 5.44861C4.28735 4.52112 4.88184 3.63989 5.55884 2.81812L6.823 3.41846L7.99976 3.9773Z" fill="#EA2F2F"/>
                <path d="M12.6223 0.110754L7.99988 2.30594L8.88782 4.69401L13.8217 3.33597C14.4669 3.15836 14.8214 2.46586 14.5881 1.83854L14.1809 0.743567C13.9478 0.116247 13.2269 -0.176355 12.6223 0.110754Z" fill="#FF4440"/>
                <path d="M3.3775 0.110754L7.99993 2.30594L7.11199 4.69401L2.17828 3.33597C1.53301 3.15836 1.17852 2.46586 1.4118 1.83854L1.8189 0.743567C2.05218 0.116247 2.77288 -0.176355 3.3775 0.110754Z" fill="#FF4440"/>
                <path d="M9.1027 3.26561C9.01871 3.26561 8.93631 3.2241 8.88785 3.14805C8.81205 3.02952 8.84659 2.87205 8.96512 2.79625C9.00016 2.77391 9.83268 2.24412 10.7885 1.85753C12.1664 1.30015 13.0866 1.33006 13.5231 1.94639C13.6045 2.06126 13.5773 2.22032 13.4624 2.30162C13.3476 2.38292 13.1886 2.35582 13.1073 2.24095C12.5155 1.4055 10.055 2.70457 9.23966 3.22557C9.19718 3.25267 9.14969 3.26561 9.1027 3.26561Z" fill="#EA2F2F"/>
                <path d="M6.8697 3.26561C6.8227 3.26561 6.77521 3.25267 6.73273 3.22557C5.91743 2.70457 3.45685 1.4055 2.86506 2.24095C2.78364 2.35582 2.6247 2.38292 2.50983 2.30162C2.39509 2.2202 2.36786 2.06126 2.44929 1.94639C2.88581 1.33006 3.80585 1.30015 5.1839 1.85753C6.13972 2.244 6.97223 2.77391 7.00727 2.79625C7.1258 2.87205 7.16035 3.02952 7.08466 3.14805C7.03596 3.2241 6.95368 3.26561 6.8697 3.26561Z" fill="#EA2F2F"/>
                <path d="M8.72278 1.48511H7.27307C6.87634 1.48511 6.55469 1.80676 6.55469 2.20361V4.30969C6.55469 4.70654 6.87634 5.0282 7.27307 5.0282H8.72278C9.11951 5.0282 9.44116 4.70654 9.44116 4.30969V2.20361C9.44116 1.80676 9.11951 1.48511 8.72278 1.48511Z" fill="#EA2F2F"/>
                <path d="M6.72656 6.71362H9.27429V15.9894H6.72656V6.71362Z" fill="#FF4440"/>
                <path d="M6.72656 6.71362H9.27429V7.83459H6.72656V6.71362Z" fill="#EA2F2F"/>
                </g>
                <defs>
                <clipPath id="clip0_1415_5723">
                <rect width="16" height="16" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </h2>
    </div>

    <div class="checkout__gifts-products grid grid-cols-4 gap-4">
        <template x-for="(product, index) in giftsProducts">
            <div class="checkout__gifts-product" 
                x-data="{ 
                    currentIndex: index+1,
                    message: `2+ Bags`
                }"
            >
                <div class="checkout__gifts-product-inner rounded-[.8rem] overflow-hidden">
                    <div class="checkout__gifts-product-price uppercase text-[1.1rem] md:text-xs text-white bg-coolBlack px-[.4rem] py-[.3rem]">
                        free <span class="line-through" x-text="allGiftsAvailableMoreThanOne && index == 1 ? '$15.99' : formatMoney(product.price)"></span>
                    </div>
                    
                    <div class="checkout__gifts-product-image h-[6rem] p-[.2rem] relative">
                        <img :src="product.image" :alt="product.title" class="w-full h-full object-contain" width="100" height="100">

                        <template x-if="index >= 2 && allGiftsAvailableMoreThanOne">
                            <div class="checkout__gifts-product-locked" x-show="minQty == 1">
                                <svg width="25" height="33" viewBox="0 0 25 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.11098 32.3333C2.2707 32.3333 1.55162 32.0372 0.953753 31.4451C0.354864 30.8519 0.0554199 30.1391 0.0554199 29.3069V14.1746C0.0554199 13.3423 0.354864 12.6296 0.953753 12.0364C1.55162 11.4442 2.2707 11.1481 3.11098 11.1481H4.63875V8.12168C4.63875 6.02838 5.3838 4.24378 6.87389 2.76788C8.36297 1.29299 10.1642 0.555542 12.2776 0.555542C14.3911 0.555542 16.1928 1.29299 17.6829 2.76788C19.172 4.24378 19.9165 6.02838 19.9165 8.12168V11.1481H21.4443C22.2846 11.1481 23.0042 11.4442 23.6031 12.0364C24.2009 12.6296 24.4999 13.3423 24.4999 14.1746V29.3069C24.4999 30.1391 24.2009 30.8519 23.6031 31.4451C23.0042 32.0372 22.2846 32.3333 21.4443 32.3333H3.11098ZM7.69431 11.1481H16.861V8.12168C16.861 6.86066 16.4154 5.78879 15.5242 4.90607C14.633 4.02336 13.5508 3.582 12.2776 3.582C11.0045 3.582 9.92232 4.02336 9.03111 4.90607C8.13991 5.78879 7.69431 6.86066 7.69431 8.12168V11.1481ZM12.2776 24.7672C13.1179 24.7672 13.8375 24.4711 14.4364 23.8789C15.0343 23.2857 15.3332 22.573 15.3332 21.7407C15.3332 20.9085 15.0343 20.1957 14.4364 19.6025C13.8375 19.0104 13.1179 18.7143 12.2776 18.7143C11.4374 18.7143 10.7183 19.0104 10.1204 19.6025C9.52153 20.1957 9.22209 20.9085 9.22209 21.7407C9.22209 22.573 9.52153 23.2857 10.1204 23.8789C10.7183 24.4711 11.4374 24.7672 12.2776 24.7672Z" fill="currentColor"></path>
                                    </svg>
                                <div class="checkout__gifts-product-locked-text">
                                    <span x-text="message"></span>
                                </div>
                            </div>
                        </template>
                    </div>

                </div>

                <div class="checkout__gifts-product-name whitespace-nowrap text-center font-medium md:font-normal text-[1.1rem] md:text-xs mt-1">
                    <span x-text="product.title"></span>
                </div>
            </div>
        </template>
    </div>
</div>

<div class="bg-[#E9F4FF] flex items-center justify-between rounded-[3rem] px-2 py-1.5 md:px-[0.8rem] text-sm my-4">
    <div class="product__cta-shipping-label">
        <div class="flex items-center gap-1">
            <div class="w-[1.6rem] h-[1.6rem] mr-1 bg-[#7FB190] rounded-full blink-animation"></div>
            Ships by

            <b><em>{{ shipping_date | date: '%a, %b %d' }}</em></b>
        </div>
    </div>
    <div class="product__cta-shipping-label flex items-center gap-2">
        <svg width="22" height="20" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 4.09277H0V20.0929H24V4.09277Z" fill="white"></path>
            <path d="M24 6.09253H0V8.09236H24V6.09253Z" fill="#D80027"></path>
            <path d="M24 10.0928H0V12.0926H24V10.0928Z" fill="#D80027"></path>
            <path d="M24 14.0923H0V16.0921H24V14.0923Z" fill="#D80027"></path>
            <path d="M24 18.0925H0V20.0924H24V18.0925Z" fill="#D80027"></path>
            <path d="M12 4.09277H0V12.7083H12V4.09277Z" fill="#2E52B2"></path>
            <path d="M4.67923 7.62207L4.48596 8.21663H3.86084L4.36667 8.5839L4.1734 9.17841L4.67923 8.81115L5.18473 9.17841L4.99151 8.5839L5.49734 8.21663H4.87217L4.67923 7.62207Z" fill="white"></path>
            <path d="M4.87217 10.3621L4.67923 9.76758L4.48596 10.3621H3.86084L4.36667 10.7294L4.1734 11.3239L4.67923 10.9566L5.18473 11.3239L4.99151 10.7294L5.49734 10.3621H4.87217Z" fill="white"></path>
            <path d="M2.23012 10.3621L2.03714 9.76758L1.84388 10.3621H1.21875L1.72458 10.7294L1.53131 11.3239L2.03714 10.9566L2.54269 11.3239L2.34947 10.7294L2.8552 10.3621H2.23012Z" fill="white"></path>
            <path d="M2.03714 7.62207L1.84388 8.21663H1.21875L1.72458 8.5839L1.53131 9.17841L2.03714 8.81115L2.54269 9.17841L2.34947 8.5839L2.8552 8.21663H2.23012L2.03714 7.62207Z" fill="white"></path>
            <path d="M4.67923 5.47632L4.48596 6.07093H3.86084L4.36667 6.43824L4.1734 7.03276L4.67923 6.66544L5.18473 7.03276L4.99151 6.43824L5.49734 6.07093H4.87217L4.67923 5.47632Z" fill="white"></path>
            <path d="M2.03714 5.47632L1.84388 6.07093H1.21875L1.72458 6.43824L1.53131 7.03276L2.03714 6.66544L2.54269 7.03276L2.34947 6.43824L2.8552 6.07093H2.23012L2.03714 5.47632Z" fill="white"></path>
            <path d="M7.32127 7.62207L7.12805 8.21663H6.50293L7.00871 8.5839L6.81554 9.17841L7.32127 8.81115L7.82687 9.17841L7.6336 8.5839L8.13943 8.21663H7.5143L7.32127 7.62207Z" fill="white"></path>
            <path d="M7.5143 10.3621L7.32127 9.76758L7.12805 10.3621H6.50293L7.00871 10.7294L6.81554 11.3239L7.32127 10.9566L7.82687 11.3239L7.6336 10.7294L8.13943 10.3621H7.5143Z" fill="white"></path>
            <path d="M10.1559 10.3621L9.96288 9.76758L9.76961 10.3621H9.14453L9.65027 10.7294L9.45705 11.3239L9.96288 10.9566L10.4684 11.3239L10.2752 10.7294L10.781 10.3621H10.1559Z" fill="white"></path>
            <path d="M9.96288 7.62207L9.76961 8.21663H9.14453L9.65027 8.5839L9.45705 9.17841L9.96288 8.81115L10.4684 9.17841L10.2752 8.5839L10.781 8.21663H10.1559L9.96288 7.62207Z" fill="white"></path>
            <path d="M7.32127 5.47632L7.12805 6.07093H6.50293L7.00871 6.43824L6.81554 7.03276L7.32127 6.66544L7.82687 7.03276L7.6336 6.43824L8.13943 6.07093H7.5143L7.32127 5.47632Z" fill="white"></path>
            <path d="M9.96288 5.47632L9.76961 6.07093H9.14453L9.65027 6.43824L9.45705 7.03276L9.96288 6.66544L10.4684 7.03276L10.2752 6.43824L10.781 6.07093H10.1559L9.96288 5.47632Z" fill="white"></path>
            </svg>

            <p>Fast <strong>FREE</strong> Shipping</p>
    </div>
</div>


<button id="add-to-cart" @click="addToCart" class="flex items-center justify-center gap-3 md:gap-[1.2rem] text-[1.6rem] md:text-[2rem] font-bold bg-[#21A600] border-[.2rem] h-[6.6rem] border-[#037C2B] hover:bg-[#037C2B] rounded-[1rem] text-white w-full checkout__cta-btn" :disabled="currentQty < currentPouch?.minQty"
>
    <span x-show="currentQty < currentPouch?.minQty">Select <span x-text="currentPouch?.minQty - currentQty"></span> More Bag<span x-show="currentPouch?.minQty - currentQty > 1">s</span></span>
    
    <span x-show="currentQty >= currentPouch?.minQty" x-text="isProcessing ? 'Adding to cart...' : 'Checkout Now'"></span>

    <span class="inline-flex items-center justify-center font-medium h-[2.4rem] bg-[#0D3063] text-white text-base rounded-full px-[1.2rem] gap-[.8rem]">
        <template x-if="currentQty <= maxQty">
            <div>
                <span class="line-through text-[#D8D8D8]" x-text="formatMoney(currentPouch?.compare_at_price)"></span>

                <span x-text="formatMoney(currentPouch?.price)"></span>
            </div>
        </template>

        <template x-if="currentQty > maxQty">
            <div>
                <span class="line-through text-[#D8D8D8]" x-text="formatMoney(currentPouch?.compare_price_per_packet * currentQty)"></span>

                <span x-text="formatMoney(currentPouch?.price_per_packet * currentQty)"></span>
            </div>
        </template>
    </span>

    <span class="ml-[.6rem]">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.672 7.70302L0.5 7.70302V9.70302H12.672L7.308 15.067L8.722 16.481L16.5 8.70302L8.722 0.925018L7.308 2.33902L12.672 7.70302Z" fill="white"></path>
        </svg>
    </span>
</button>

<div class="bg-[#FFFBE2] rounded-[0.3rem] mt-[0.6rem] flex items-center">
    <div class="w-[5.8rem] h-[5.8rem] flex-shrink-0 flex items-center justify-center">
        <img src="https://cdn.shopify.com/s/files/1/0309/2257/1835/files/guarantee_image.png?v=1753573319" alt="Guarantee Badge" class="w-full h-full object-contain" width="58" height="58">
    </div>
    <div class="text-xs md:text-sm font-family-poppins font-medium text-left text-[#222222] p-[0.6rem_2.6rem_.6rem_1rem] leading-[1.3]">
        <b>Less than 1%</b> of our customers use our <b>90-day money back guarantee.*</b>
    </div>
</div>

<div class="checkout__gurantee mt-[0.8rem] text-[1.3rem] flex items-center gap-3">
    <div class="w-[2.4rem] h-[2.4rem] flex-shrink-0">
        <svg fill="currentColor" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.631 383.631">
            <path d="M47.331,210.289c-1.408,1.375-3.273,2.296-5.374,2.508c-0.116,0.012-0.232,0.021-0.349,0.029
                c-0.006,0-0.013,0.001-0.02,0.001c-0.185,0.011-0.367,0.017-0.549,0.017c-2.109,0-4.073-0.737-5.624-1.982
                c-0.001,0-0.001,0-0.001-0.001c-0.007-0.005-0.013-0.01-0.019-0.015c-0.002-0.001-0.004-0.003-0.006-0.004
                c-0.004-0.003-0.009-0.007-0.013-0.011c-0.003-0.002-0.007-0.005-0.01-0.008s-0.006-0.005-0.009-0.007
                c-0.004-0.003-0.009-0.007-0.013-0.01c-0.002-0.001-0.004-0.003-0.006-0.005c-0.005-0.004-0.011-0.008-0.016-0.013
                c-0.046-0.038-0.092-0.077-0.138-0.116c-0.006-0.005-0.012-0.01-0.018-0.015c-0.001-0.001-0.002-0.002-0.003-0.002
                c-0.005-0.004-0.01-0.009-0.016-0.013c-0.001-0.002-0.004-0.004-0.006-0.005c-0.004-0.004-0.008-0.007-0.013-0.011
                c-0.003-0.002-0.006-0.005-0.009-0.007c-0.003-0.003-0.006-0.006-0.01-0.009c-0.004-0.004-0.009-0.008-0.014-0.012
                c-0.001-0.002-0.003-0.003-0.005-0.005c-0.207-0.183-0.405-0.375-0.595-0.575L2.505,176.658c-3.44-3.587-3.322-9.285,0.266-12.725
                c3.587-3.44,9.284-3.322,12.725,0.265l16.426,17.125c3.887-58.736,40.101-111.535,95.123-135.771
                c39.08-17.212,82.524-18.177,122.331-2.714c39.805,15.462,71.206,45.501,88.417,84.582c2.004,4.549-0.06,9.861-4.608,11.864
                c-4.55,2.003-9.862-0.061-11.864-4.609c-15.273-34.68-43.139-61.336-78.462-75.058c-35.322-13.721-73.875-12.867-108.558,2.409
                C85.342,83.591,53.163,130.64,49.854,182.927l18.381-17.632c3.589-3.44,9.285-3.322,12.726,0.265s3.322,9.284-0.265,12.725
                L47.331,210.289z M381.087,207.409l-32.648-33.615c-1.759-1.838-4.291-2.921-7-2.769c-0.005,0-0.01,0-0.017,0.001
                c-0.143,0.008-0.285,0.02-0.428,0.034c-2.123,0.221-4.005,1.169-5.415,2.575l-32.732,32.273c-3.54,3.49-3.58,9.188-0.091,12.728
                c3.491,3.54,9.189,3.58,12.728,0.09l17.594-17.346c-3.513,52.052-35.643,98.837-84.405,120.314
                c-18.545,8.168-37.91,12.033-56.982,12.032c-54.556-0.002-106.675-31.636-130.038-84.682c-2.003-4.548-7.314-6.612-11.864-4.609
                c-4.549,2.003-6.612,7.315-4.608,11.864c26.329,59.781,85.053,95.43,146.536,95.426c21.487-0.001,43.319-4.357,64.213-13.559
                c55.03-24.239,91.261-77.082,95.127-135.845l17.12,17.627c3.463,3.565,9.16,3.649,12.727,0.186
                C384.467,216.673,384.55,210.975,381.087,207.409z"></path>
        </svg>
    </div>
    <div>
        Refill ships in <span x-text="minQty">3</span> months. Change or cancel easily. Free shipping &amp; Gifts with 1st purchase.
    </div>
    
</div>

{% schema %}
{
  "name": "Gift Onestep Flow",
  "settings": [
    {
        "type": "header",
        "content": "Pouches"
    },
    {
        "type": "metaobject_list",
        "id": "related_pouches",
        "label": "Related Pouches",
        "metaobject_type": "pouche"
    },
    {
      "type": "header",
      "content": "Gifts"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "gifts_title"
    }
  ],

  "presets": [
    {
      "name": "Gift Onestep Flow"
    }
  ]
}
{% endschema %}