{% assign productFaq = product.metafields.custom.product_section_faq.value %}

<div class="product__faq mt-8" style="border-top: 0.1rem solid #E9EAEB;" x-data="{ open: false, activeItem: null }" :class="{ 'product__faq--open': open }">
    {% for i in (1..10) %}
        {% assign q_key = 'question_' | append: i %}
        {% assign a_key = 'answer_' | append: i %}
        {% assign open_by_default = false %}
    
        {% if productFaq[q_key] %}
            {% assign question = productFaq[q_key] %}
            {% assign answer = productFaq[a_key] | metafield_tag %}
            {% render 'accordion-item', question: question, answer: answer, open_by_default: open_by_default %}
        {% endif %}
    {% endfor %}

    <div class="product__faq-button hidden md:block mt-6 text-[#181D27] text-center font-medium">
        <button class="underline underline-offset-4" @click="open = !open" x-text="open ? 'See Less FAQs' : 'See More FAQs'"></button>
    </div>
</div>

{% stylesheet %}
.product__faq:not(.product__faq--open) .accordion-item:nth-child(n+6) {
    display: none;
}

.product__faq:not(.product__faq--open) .accordion-item:nth-child(n+6) {
    display: none;
}

@media (min-width: 768px) {   
    .accordion-item__summary {
        font-size: 1.8rem;
    }
}

.accordion-item__content {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-top: 0.6rem;
    color: #000;
}
{% endstylesheet %}


{% schema %}
{
  "name": "FAQ",
  "tag": null,
  "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}