<div class="accordion">
    {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Accordion",
  "tag": null,
  "blocks": [
    {
      "type": "_accordion-item"
    }
  ],
  "presets": [
    {
      "name": "Accordion"
    }
  ]
}   
{% endschema %}