{% assign bst = block.settings %}
<div class="inline-review flex whitespace-nowrap gap-2 items-center font-family-poppins">
    {% render 'stars', score: 5 %}
    <div class="text-[1.4rem] md:text-base">
        {{ bst.title }}
    </div>
</div>

{% stylesheet %}
@media (max-width: 768px) {
    .inline-review svg{
        width: 1.3rem;
        height: 1.3rem;
    }
}
{% endstylesheet %}
        

{% schema %}
{
  "name": "Inline Review",
  "settings": [
    {
      "type": "richtext",
      "label": "Title",
      "id": "title"
    }
  ],
  "presets": [
    {
      "name": "Inline Review",
      "settings": {
        "title": "<p>Excellent 4.8 12,000+ Trusted Reviews</p>"
      }
    }
  ]
}
{% endschema %}