{% assign bst = block.settings %}
<div class="inline-review flex flex-wrap gap-2 items-center pb-2 font-family-poppins">
    <div class="flex items-center gap-0.5">
        {% render 'stars', score: 5 %}
    </div>
    <div class="text-base">
        {{ bst.title }}
    </div>
</div>
        

{% schema %}
{
  "name": "Inline Review",
  "settings": [
    {
      "type": "richtext",
      "label": "Title",
      "id": "title"
    }
  ],
  "presets": [
    {
      "name": "Inline Review",
      "settings": {
        "title": "<p>Excellent 4.8 12,000+ Trusted Reviews</p>"
      }
    }
  ]
}
{% endschema %}