{% assign bst = block.settings %}
<div class="inline-review flex gap-2 items-center pb-2 font-family-poppins">
    <div class="flex items-center gap-0.5">
        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.06758 0.447605C6.19789 0.128771 6.64939 0.128771 6.7797 0.447605L8.1445 3.78695C8.19971 3.92205 8.32663 4.01427 8.47219 4.02503L12.0698 4.29112C12.4133 4.31652 12.5529 4.74592 12.2899 4.96838L9.53573 7.29829C9.42431 7.39256 9.37583 7.54176 9.41057 7.68351L10.2692 11.1873C10.3512 11.5218 9.98596 11.7872 9.69313 11.6059L6.62616 9.7065C6.50208 9.62966 6.3452 9.62966 6.22112 9.7065L3.15416 11.6059C2.86133 11.7872 2.49606 11.5218 2.57804 11.1873L3.43672 7.68351C3.47146 7.54176 3.42298 7.39256 3.31155 7.29829L0.557389 4.96838C0.294428 4.74592 0.433949 4.31652 0.777445 4.29112L4.3751 4.02503C4.52065 4.01427 4.64757 3.92205 4.70279 3.78695L6.06758 0.447605Z" fill="#F89500"/>
        </svg>

        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.06758 0.447605C6.19789 0.128771 6.64939 0.128771 6.7797 0.447605L8.1445 3.78695C8.19971 3.92205 8.32663 4.01427 8.47219 4.02503L12.0698 4.29112C12.4133 4.31652 12.5529 4.74592 12.2899 4.96838L9.53573 7.29829C9.42431 7.39256 9.37583 7.54176 9.41057 7.68351L10.2692 11.1873C10.3512 11.5218 9.98596 11.7872 9.69313 11.6059L6.62616 9.7065C6.50208 9.62966 6.3452 9.62966 6.22112 9.7065L3.15416 11.6059C2.86133 11.7872 2.49606 11.5218 2.57804 11.1873L3.43672 7.68351C3.47146 7.54176 3.42298 7.39256 3.31155 7.29829L0.557389 4.96838C0.294428 4.74592 0.433949 4.31652 0.777445 4.29112L4.3751 4.02503C4.52065 4.01427 4.64757 3.92205 4.70279 3.78695L6.06758 0.447605Z" fill="#F89500"/>
        </svg>

        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.06758 0.447605C6.19789 0.128771 6.64939 0.128771 6.7797 0.447605L8.1445 3.78695C8.19971 3.92205 8.32663 4.01427 8.47219 4.02503L12.0698 4.29112C12.4133 4.31652 12.5529 4.74592 12.2899 4.96838L9.53573 7.29829C9.42431 7.39256 9.37583 7.54176 9.41057 7.68351L10.2692 11.1873C10.3512 11.5218 9.98596 11.7872 9.69313 11.6059L6.62616 9.7065C6.50208 9.62966 6.3452 9.62966 6.22112 9.7065L3.15416 11.6059C2.86133 11.7872 2.49606 11.5218 2.57804 11.1873L3.43672 7.68351C3.47146 7.54176 3.42298 7.39256 3.31155 7.29829L0.557389 4.96838C0.294428 4.74592 0.433949 4.31652 0.777445 4.29112L4.3751 4.02503C4.52065 4.01427 4.64757 3.92205 4.70279 3.78695L6.06758 0.447605Z" fill="#F89500"/>
        </svg>

        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.06758 0.447605C6.19789 0.128771 6.64939 0.128771 6.7797 0.447605L8.1445 3.78695C8.19971 3.92205 8.32663 4.01427 8.47219 4.02503L12.0698 4.29112C12.4133 4.31652 12.5529 4.74592 12.2899 4.96838L9.53573 7.29829C9.42431 7.39256 9.37583 7.54176 9.41057 7.68351L10.2692 11.1873C10.3512 11.5218 9.98596 11.7872 9.69313 11.6059L6.62616 9.7065C6.50208 9.62966 6.3452 9.62966 6.22112 9.7065L3.15416 11.6059C2.86133 11.7872 2.49606 11.5218 2.57804 11.1873L3.43672 7.68351C3.47146 7.54176 3.42298 7.39256 3.31155 7.29829L0.557389 4.96838C0.294428 4.74592 0.433949 4.31652 0.777445 4.29112L4.3751 4.02503C4.52065 4.01427 4.64757 3.92205 4.70279 3.78695L6.06758 0.447605Z" fill="#F89500"/>
        </svg>

        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.06758 0.447605C6.19789 0.128771 6.64939 0.128771 6.7797 0.447605L8.1445 3.78695C8.19971 3.92205 8.32663 4.01427 8.47219 4.02503L12.0698 4.29112C12.4133 4.31652 12.5529 4.74592 12.2899 4.96838L9.53573 7.29829C9.42431 7.39256 9.37583 7.54176 9.41057 7.68351L10.2692 11.1873C10.3512 11.5218 9.98596 11.7872 9.69313 11.6059L6.62616 9.7065C6.50208 9.62966 6.3452 9.62966 6.22112 9.7065L3.15416 11.6059C2.86133 11.7872 2.49606 11.5218 2.57804 11.1873L3.43672 7.68351C3.47146 7.54176 3.42298 7.39256 3.31155 7.29829L0.557389 4.96838C0.294428 4.74592 0.433949 4.31652 0.777445 4.29112L4.3751 4.02503C4.52065 4.01427 4.64757 3.92205 4.70279 3.78695L6.06758 0.447605Z" fill="#F89500"/>
        </svg>
            
    </div>
    <div class="text-sm">
        {{ bst.title }}
    </div>
</div>
        

{% schema %}
{
  "name": "Inline Review",
  "settings": [
    {
      "type": "richtext",
      "label": "Title",
      "id": "title"
    }
  ],
  "presets": [
    {
      "name": "Inline Review",
      "settings": {
        "title": "<p>Excellent 4.8 12,000+ Trusted Reviews</p>"
      }
    }
  ]
}
{% endschema %}