{% assign featuredReview = product.metafields.custom.featured_review.value %}

<div class="product">
    <div class="flex gap-4 md:gap-[4rem] flex-col md:flex-row">
        <div class="product__gallery flex-shrink-0 md:w-[50%] lg:w-[62.6rem] md:max-w-[60%]">
            {% render 'product-gallery' %}

            {% if featuredReview %}
                <div class="hidden md:block">
                    {% render 'featured-review', name: featuredReview.name, image: featuredReview.author_image, text: featuredReview.text %}
                </div>
            {% endif %}
        </div>
        <div class="product__info">
            {% content_for 'blocks' %}

            {% if featuredReview %}
                <div class="block md:hidden">
                    {% render 'featured-review', name: featuredReview.name, image: featuredReview.author_image, text: featuredReview.text %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% stylesheet %}
.product__feature-review-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Product",
  "blocks": [
    {
        "type": "heading",
    },
    {
        "type": "inline-review",
    },
    {
        "type": "text",
    },
    {
        "type": "features-list",
    },
    {
        "type": "_pdp-cta",
    },
    {
        "type": "_pdp-faq",
    }
    
  ],
  "presets": [
    {
      "name": "Product"
    }
  ]
}
{% endschema %}

