{% assign bst = block.settings %}

<div class="review-badge flex {{ bst.badge_alignment }}" id="{{ block.id }}">
    <div class="review-badge__inner flex items-center gap-3">
        <div class="review-badge__stars flex items-center gap-1">
        {% for i in (1..bst.stars_quantity) %}
            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.08859 1.00662C7.23916 0.638225 7.76084 0.638225 7.91141 1.00663L9.48838 4.86511C9.55218 5.02122 9.69883 5.12776 9.86701 5.1402L14.024 5.44765C14.4209 5.47701 14.5821 5.97316 14.2782 6.2302L11.0959 8.92233C10.9672 9.03125 10.9111 9.20364 10.9513 9.36744L11.9434 13.4159C12.0382 13.8025 11.6161 14.1091 11.2778 13.8996L7.734 11.7049C7.59064 11.6161 7.40936 11.6161 7.266 11.7049L3.72224 13.8996C3.38388 14.1091 2.96183 13.8025 3.05656 13.4159L4.04872 9.36744C4.08886 9.20364 4.03285 9.03125 3.9041 8.92233L0.721772 6.2302C0.41793 5.97316 0.579141 5.47701 0.976038 5.44765L5.13299 5.1402C5.30117 5.12776 5.44782 5.02121 5.51162 4.86511L7.08859 1.00662Z" fill="#F89500"/>
            </svg>
        {% endfor %}
        </div>
        <div class="review-badge__title" style="color: {{ bst.text_color }};">
            {{ bst.title }}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Review Badge",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "1 Million+ Happy Customers"
    },
    {
      "type": "range",
      "label": "Score",
      "id": "stars_quantity",
      "min": 0,
      "max": 5,
      "default": 5,
      "step": 1
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "text_color",
      "default": "#0D3063"
    },
    {
      "type": "select",
      "label": "Badge alignment",
      "id": "badge_alignment",
      "options": [
        {
          "value": "justify-start",
          "label": "left"
        },
        {
          "value": "justify-center",
          "label": "Center"
        },
        {
          "value": "justify-end",
          "label": "Right"
        }
      ],
      "default": "justify-center"
    }
  ],
  "presets": [
    {
      "name": "Review Badge"
    }
  ]
}
{% endschema %}