{% assign bst = block.settings %}

<div class="review-badge flex {{ bst.badge_alignment }}" id="{{ block.id }}">
    <div class="review-badge__inner flex items-center gap-3">
        <div class="review-badge__stars">
            {% render 'stars', score: bst.stars_quantity %}
        </div>
        <div class="review-badge__title" style="color: {{ bst.text_color }};">
            {{ bst.title }}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Review Badge",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "1 Million+ Happy Customers"
    },
    {
      "type": "range",
      "label": "Score",
      "id": "stars_quantity",
      "min": 0,
      "max": 5,
      "default": 5,
      "step": 1
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "text_color",
      "default": "#0D3063"
    },
    {
      "type": "select",
      "label": "Badge alignment",
      "id": "badge_alignment",
      "options": [
        {
          "value": "justify-start",
          "label": "left"
        },
        {
          "value": "justify-center",
          "label": "Center"
        },
        {
          "value": "justify-end",
          "label": "Right"
        }
      ],
      "default": "justify-center"
    }
  ],
  "presets": [
    {
      "name": "Review Badge"
    }
  ]
}
{% endschema %}