.junip-reviews-tab-switcher-container,
.junip-filters {
    display: none !important;
}
.junip-product-review-container {
    background-color: #f4f9ff !important;
    padding: 0 2rem !important;
}
.junip-review-section {
    background-color: #f4f9ff !important;
}