
@font-face {
    font-family:'Values Sans';
	src: url('/public/fonts/values-sans/ValueSansPro-Regular.woff2')
        format('woff2'),
      url('/public/fonts/values-sans/ValueSansPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Values Sans';
	src: url('/public/fonts/values-sans/ValueSansPro-Medium.woff2')
        format('woff2'),
      url('/public/fonts/values-sans/ValueSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Values Sans';
	src: url('/public/fonts/values-sans/ValueSansPro-Bold.woff2')
        format('woff2'),
      url('/public/fonts/values-sans/ValueSansPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Values Sans';
	src: url('/public/fonts/values-sans/ValueSansPro-Black.woff2')
        format('woff2'),
      url('/public/fonts/values-sans/ValueSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}
