$white: var(--color-white);
$black: var(--color-black);
$lightGrey: var(--color-lightGrey);
$aliceBlue: var(--color-aliceBlue);
$water: var(--color-water);
$lightAzure: var(--color-lightAzure);
$brilliantAzure: var(--color-brilliantAzure);
$coolBlack: var(--color-coolBlack);
$palePink: var(--color-palePink);
$sunsetOrange: var(--color-sunsetOrange);
$ueRed: var(--color-ueRed);
$nyanza: var(--color-nyanza);
$greenCrayola: var(--color-greenCrayola);
$slimyGreen: var(--color-slimyGreen);
$laSalleGreen: var(--color-laSalleGreen);
$poppins: var(--font-family-poppins);
$valuesSans: var(--font-family-values-sans);