{% assign ss = section.settings %}

<header class="header bg-lightAzure text-white">
    <div class="container">
        <div class="header__inner flex justify-between items-center">
            <button class="header__burger flex flex-col justify-center items-center gap-2 md:hidden" @click="$store.mobileNav.isOpen = !$store.mobileNav.isOpen" x-data>
                <span class="header__burger-line bg-white"></span>
                <span class="header__burger-line bg-white"></span>
                <span class="header__burger-line bg-white"></span>
            </button>

            {% if ss.logo != blank %}
                <div class="header__logo lg:w-[25%]">
                    <a href="/" class="block max-w-[9rem] md:max-w-[15rem]">
                        {{ ss.logo | image_url: width: 240 | image_tag }}
                    </a>
                </div>
            {% endif %}

            {% if ss.header_menu != blank %}
            <div class="header__nav hidden md:block lg:w-[50%] lg:justify-center">
                <ul class="header__nav-list flex gap-[3rem] lg:justify-center">
                    {% for link in ss.header_menu.links %}
                        <li class="header__nav-item">
                            <a href="{{ link.url }}" class="header__nav-link">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="header__tools flex items-center gap-8 lg:w-[25%] lg:justify-end">
                <a href="/a/account/login" class="header__tools-button w-12 h-12 hidden lg:block">
                    <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_98_9894)">
                        <path d="M16.2653 16.1035C18.4491 16.1035 20.3399 15.3202 21.8853 13.7749C23.4301 12.2298 24.2136 10.3392 24.2136 8.15514C24.2136 5.97179 23.4304 4.081 21.885 2.53539C20.3396 0.99053 18.4489 0.207275 16.2653 0.207275C14.0812 0.207275 12.1906 0.99053 10.6455 2.53564C9.1004 4.08075 8.31689 5.97154 8.31689 8.15514C8.31689 10.3392 9.1004 12.23 10.6455 13.7751C12.1911 15.32 14.0819 16.1035 16.2653 16.1035ZM12.0131 3.903C13.1987 2.71742 14.5895 2.14112 16.2653 2.14112C17.9408 2.14112 19.3318 2.71742 20.5176 3.903C21.7032 5.08884 22.2798 6.47986 22.2798 8.15514C22.2798 9.83091 21.7032 11.2217 20.5176 12.4075C19.3318 13.5934 17.9408 14.1697 16.2653 14.1697C14.59 14.1697 13.1992 13.5931 12.0131 12.4075C10.8273 11.2219 10.2507 9.83091 10.2507 8.15514C10.2507 6.47986 10.8273 5.08884 12.0131 3.903Z" fill="white"/>
                        <path d="M30.1726 25.5828C30.128 24.9397 30.0379 24.2383 29.9052 23.4976C29.7712 22.7514 29.5988 22.0459 29.3923 21.4011C29.1788 20.7347 28.889 20.0766 28.5303 19.4459C28.1584 18.7913 27.7213 18.2213 27.2309 17.7522C26.718 17.2615 26.0901 16.867 25.364 16.5792C24.6404 16.293 23.8385 16.148 22.9808 16.148C22.6439 16.148 22.3181 16.2862 21.6889 16.6958C21.3017 16.9483 20.8488 17.2404 20.3432 17.5634C19.9109 17.8388 19.3253 18.0969 18.602 18.3305C17.8963 18.5589 17.1797 18.6747 16.4723 18.6747C15.7653 18.6747 15.0488 18.5589 14.3426 18.3305C13.62 18.0972 13.0341 17.8391 12.6026 17.5637C12.1018 17.2437 11.6486 16.9516 11.2556 16.6956C10.6269 16.2859 10.3011 16.1477 9.96428 16.1477C9.10625 16.1477 8.30462 16.293 7.58128 16.5795C6.85568 16.8668 6.22752 17.2613 5.71416 17.7525C5.22371 18.2218 4.78664 18.7915 4.41503 19.4459C4.05676 20.0766 3.76672 20.7344 3.55322 21.4014C3.34702 22.0462 3.17456 22.7514 3.04062 23.4976C2.90768 24.2373 2.8178 24.939 2.77324 25.5835C2.72943 26.2137 2.70728 26.8696 2.70728 27.5322C2.70728 29.2548 3.25487 30.6494 4.33471 31.6779C5.40121 32.6927 6.81213 33.2074 8.52844 33.2074H24.4181C26.1339 33.2074 27.5448 32.6927 28.6116 31.6779C29.6917 30.6501 30.2393 29.2551 30.2393 27.532C30.239 26.867 30.2166 26.2112 30.1726 25.5828ZM27.2782 30.2768C26.5735 30.9475 25.6379 31.2735 24.4179 31.2735H8.52844C7.30811 31.2735 6.37254 30.9475 5.66809 30.277C4.97698 29.6191 4.64112 28.7211 4.64112 27.5322C4.64112 26.9139 4.66151 26.3033 4.7023 25.7172C4.74208 25.1422 4.8234 24.5105 4.944 23.8393C5.06308 23.1764 5.21465 22.5542 5.39492 21.991C5.56788 21.451 5.80379 20.9162 6.09634 20.4011C6.37556 19.9101 6.69682 19.4889 7.05131 19.1496C7.38289 18.8321 7.80082 18.5722 8.29329 18.3774C8.74874 18.1971 9.26058 18.0984 9.81624 18.0836C9.88397 18.1196 10.0046 18.1883 10.1999 18.3157C10.5975 18.5748 11.0557 18.8703 11.5623 19.1939C12.1333 19.5579 12.8689 19.8867 13.7479 20.1705C14.6464 20.461 15.5629 20.6086 16.4725 20.6086C17.3822 20.6086 18.2989 20.461 19.1969 20.1707C20.0766 19.8865 20.812 19.5579 21.3838 19.1934C21.9022 18.862 22.3476 18.575 22.7451 18.3157C22.9405 18.1885 23.0611 18.1196 23.1288 18.0836C23.6847 18.0984 24.1966 18.1971 24.6523 18.3774C25.1445 18.5722 25.5624 18.8323 25.894 19.1496C26.2485 19.4887 26.5697 19.9099 26.849 20.4014C27.1418 20.9162 27.3779 21.4512 27.5506 21.9908C27.7312 22.5547 27.883 23.1766 28.0018 23.839C28.1222 24.5115 28.2037 25.1434 28.2435 25.7175V25.718C28.2845 26.3018 28.3052 26.9121 28.3054 27.5322C28.3052 28.7213 27.9693 29.6191 27.2782 30.2768Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_98_9894">
                        <rect width="32.9999" height="33" fill="white" transform="translate(0 0.207275)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                </a>
                
                <button class="header__tools-button header__tools-button--cart w-12 h-12" :data-cart-quantity="$store.miniCart?.cart?.item_count || {{ cart.item_count }}" x-data @click="$store.miniCart.isOpen = !$store.miniCart.isOpen">
                    <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.674 19.3426L16.1539 4.86709C16.122 4.56405 15.8666 4.33395 15.5619 4.33395H12.7048V3.68255C12.7048 1.65207 11.0528 0 9.02229 0C6.99165 0 5.33959 1.65207 5.33959 3.68255V4.33395H2.48254C2.17782 4.33395 1.92239 4.56405 1.8905 4.86709L0.370419 19.3426C0.352872 19.5103 0.407345 19.6777 0.520108 19.8031C0.633023 19.9284 0.79385 20 0.962459 20H17.0818C17.2506 20 17.4114 19.9284 17.5242 19.8031C17.6372 19.6777 17.6916 19.5103 17.674 19.3426ZM6.53008 3.68255C6.53008 2.3085 7.64808 1.19049 9.02229 1.19049C10.3963 1.19049 11.5143 2.3085 11.5143 3.68255V4.33395H6.53008V3.68255ZM1.62347 18.8095L3.01858 5.52443H5.33959V6.83623C5.33959 7.1649 5.60616 7.43147 5.93483 7.43147C6.2635 7.43147 6.53008 7.1649 6.53008 6.83623V5.52443H11.5143V6.83623C11.5143 7.1649 11.7809 7.43147 12.1096 7.43147C12.4383 7.43147 12.7048 7.1649 12.7048 6.83623V5.52443H15.0258L16.421 18.8095H1.62347Z" fill="white"/>
                    </svg>                        
                </button>
            </div>

            <div class="header__text hidden font-medium">
                Secure Checkout
            </div>
        </div>
    </div>
</header>

{% if ss.is_sticky %}
    <style>
      .shopify-section-group-header-group   {
        position: sticky;
        top: 0;
        z-index: 99;
      }
    </style>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "label": "Is Sticky",
      "id": "is_sticky",
      "default": false
    },
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo"
    },
    {
      "type": "link_list",
      "label": "Header Menu",
      "id": "header_menu"
    }
  ]
}
{% endschema %}