{% render 'entry' with '@/styles/sections/ts-logo.scss' %}

<div class="ts-logo">
  {% render 'ts-nectar-logo' %}
</div>

{% schema %}
  {
    "name": "TS Logo",
    "settings": [],
    "presets": [
      {
        "name": "TS Logo"
      }
    ]
  }
{% endschema %}