.accordion-item {
    border-bottom: 1px solid #E9EAEB;

    &:last-child {
        border-bottom: none;
    }

    &--active {
        svg {
            transform: rotate(45deg);
        }
    }

    &__summary {
        cursor: pointer;

        svg {
            transition: transform 0.15s ease;
            flex-shrink: 0;
        }

        &:active svg {
            transform: rotate(5deg);
        }
    }

    &__content {
        display: none;
    }

    &--active &__content{
        display: block;
    }
}