@use '../config/all-config' as *;

.announcement-bar {

    &__text {
        svg {
            line-height: 0;
            display: block;

            @screen md {
                margin-top: -0.3rem;
            }
        }

        @include down(xs) {
            font-size: 1.2rem !important;
        }
    }

    &__badge {
        font-weight: 700;
        padding: .1rem .9rem 0;
        line-height: 2.7rem;
        border-radius: 0.6rem;
        font-size: 1.2rem;

        @include down(xs) {
            font-size: 1rem;
        }
    }

    .timer-block {
        &__cell {
            width: 2.8rem;
            height: 2.8rem;
            background-color: $white;
            border-radius: .4rem;
            padding: .2rem;
            font-weight: 400;
            font-size: .7rem;
            line-height: 140%;
            letter-spacing: 0;
            color: $coolBlack;

            span {
                display: block;
                line-height: 1;
            }
        }
        
        [data-cell] {
            font-weight: 600;
            font-size: 1.2rem;
        }
        
        &__divider {
            height: fit-content;
            width: .1rem;
            gap: .4rem;
        }
        
        &__divider::after,
        &__divider::before {
            content: "";
            width: 5px;
            height: 5px;
            display: block;
            background-color: $white;
            border-radius: 5px;
        }
    }
}