@use '../config/all-config' as *;

.announcement-bar {

    &__text {
        svg {
            line-height: 0;
            display: block;

            @screen md {
                margin-top: -0.3rem;
            }
        }

        @include down(xs) {
            font-size: 1.2rem !important;
        }
    }

    &__badge {
        font-weight: 700;
        padding: .1rem .9rem 0;
        line-height: 2.7rem;
        border-radius: 0.6rem;
        font-size: 1.2rem;

        @include down(xs) {
            font-size: 1rem;
        }
    }

    .timer-block {
        &__cell {
            width: 2.8rem;
            height: 2.8rem;
            background-color: $white;
            border-radius: .4rem;
            padding: .2rem;
            font-weight: 400;
            font-size: .7rem;
            line-height: 140%;
            letter-spacing: 0;
            color: $coolBlack;

            span {
                display: block;
                line-height: 1;
            }
        }
        
        [data-cell] {
            font-weight: 600;
            font-size: 1.2rem;
        }
        
        &__divider {
            height: fit-content;
            width: .1rem;
            gap: .4rem;
        }
        
        &__divider::after,
        &__divider::before {
            content: "";
            width: 5px;
            height: 5px;
            display: block;
            background-color: $white;
            border-radius: 5px;
        }
    }

    &__timer {
        &--white-skin {
            background-color: $white;
            border-radius: .5rem;
        }

        &--white-skin .timer-block {
            gap: .2rem;
            padding: .7rem .6rem;

            &__cell {
                font-size: 1rem !important;
                width: 3.6rem;
                text-transform: uppercase;
                background-color: transparent;
                font-family: 'Poppins', sans-serif;

                [data-cell] {
                    font-family: 'Inter', sans-serif;
                    font-weight: 900 !important;
                    font-size: 2rem !important;
                }
            }

            &__divider {
                align-self: flex-start;
                padding-top: .4rem;

                &::after,
                &::before {
                    content: "";
                    width: 3px;
                    height: 3px;
                    display: block;
                    background-color: #0D3063;
                    border-radius: 5px;
                }
            }
        }
    }
}