@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-right {
      text-align: right;
    }
}

@layer base {
  html {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: none;
    font-size: 10px;
    line-height: 1.2em;
    // overflow-y: scroll;

    @screen lg {
    //   font-size: 0.69444vw;
    }
  }

  body {
    font-size: 1.6rem;
    line-height: 1.2em;
    background: #fff;
    color: #0D3063;
    font-family: 'Values Sans', 'Arial', sans-serif;
    max-width: 100%;


    &.no-scroll {
      overflow: hidden;
    }
  }

  .container {
    max-width: 124rem;
  }

  .font-family-poppins {
    font-family: 'Poppins', sans-serif;
  }

  details > summary {
    @apply list-none;
  }

  details summary::-webkit-details-marker {
    @apply hidden;
  }

  // Heading
  .heading-1,
  .heading-2,
  .heading-3,
  .heading-4,
  .heading-5 {
    font-weight: 700;
    margin-bottom: 1.6rem;
  }

  .heading-1 {
    font-size: 5.6rem;
    line-height: 1.2em;

    @screen md {
      font-size: 10.5rem;
    }
  }

  .heading-2 {
    font-size: 3.2rem;
    line-height: 4rem;

    @screen md {
      font-size: 7.2rem;
      line-height: 8rem;
    }
  }

  .heading-3 {
    font-size: 2.8rem;
    line-height: 1em;

    @screen md {
      font-size: 4.8rem;
      line-height: 1.2em;
    }
  }

  .heading-4 {
    font-size: 2.4rem;
    line-height: 1.2em;

    @screen md {
      font-size: 2.8rem;
    }
  }

  .heading-5 {
    font-size: 2rem;
    line-height: 1.2em;

    @screen md {
      font-size: 2.4rem;
    }
  }

  @theme {
    --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
  }

  .swiper-pagination {
    padding-top: 2rem;
    padding-bottom: 1.6rem;
    justify-content: center;
    gap: 1.6rem;
    position: static !important;
    width: 100% !important;
    display: flex !important;

    .swiper-pagination-bullet {
      background: #D9D9D9;
      border: 1px solid #0D3063;
      opacity: 1;
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;

      &:hover,
      &.swiper-pagination-bullet-active {
        background: #0D3063;
      }
    }
  }

  .container .container {
    padding-left: 0;
    padding-right: 0;
  }

  .block-heading {
    @media (max-width: 768px) {
      br {
        display: none;
      }
    }
  }
}

