.review {
    border: 1px solid #CCCCCC;
    border-radius: 1.2rem;
    padding: 1rem 1.5rem;
    color: #444444;
    font-size: 1.4rem;
    line-height: 1.4;

    &__header {
        border-bottom: 1px solid #CCCCCC;
        font-family: var(--font-family-poppins);
        white-space: nowrap;
    }

    &__verified-badge {
        background-color: rgba(var(--color-slimyGreen), 0.08);
        border-radius: 1.2rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: var(--font-family-poppins);
        color: var(--color-slimyGreen);
        border: 1px solid var(--color-slimyGreen);
        text-align: center;
        line-height: 2rem;
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5938 7C12.5938 7.52031 11.9563 7.9375 11.825 8.42969C11.6938 8.92188 12.0312 9.61563 11.7781 10.0469C11.525 10.4781 10.7562 10.5391 10.4 10.9C10.0437 11.2609 9.9875 12.025 9.54688 12.2781C9.10625 12.5312 8.42188 12.1938 7.92969 12.325C7.4375 12.4563 7.02031 13.0938 6.5 13.0938C5.97969 13.0938 5.5625 12.4563 5.09375 12.325C4.625 12.1938 3.90781 12.5312 3.47656 12.2781C3.04531 12.025 2.98438 11.2562 2.62344 10.9C2.2625 10.5437 1.49844 10.4875 1.24531 10.0469C0.992188 9.60625 1.32969 8.92188 1.19844 8.42969C1.06719 7.9375 0.40625 7.52031 0.40625 7C0.40625 6.47969 1.04375 6.0625 1.175 5.59375C1.30625 5.125 0.96875 4.40781 1.22187 3.97656C1.475 3.54531 2.24375 3.46094 2.6 3.1C2.95625 2.73906 3.0125 1.975 3.45312 1.72187C3.89375 1.46875 4.57812 1.80625 5.07031 1.675C5.5625 1.54375 5.97969 0.90625 6.5 0.90625C7.02031 0.90625 7.4375 1.54375 7.92969 1.675C8.42188 1.80625 9.11563 1.46875 9.54688 1.72187C9.97812 1.975 10.0391 2.74375 10.4 3.1C10.7609 3.45625 11.525 3.5125 11.7781 3.95312C12.0312 4.39375 11.6938 5.07812 11.825 5.57031C11.9563 6.0625 12.5938 6.47969 12.5938 7Z' fill='%23109138'/%3E%3Cpath d='M6.5 10.9844C8.70051 10.9844 10.4844 9.20051 10.4844 7C10.4844 4.79949 8.70051 3.01562 6.5 3.01562C4.29949 3.01562 2.51562 4.79949 2.51562 7C2.51562 9.20051 4.29949 10.9844 6.5 10.9844Z' fill='%2320BF55'/%3E%3Cpath d='M6.09188 8.11092C6.04569 8.11113 5.99992 8.10212 5.95726 8.08442C5.91459 8.06671 5.8759 8.04065 5.84344 8.00779L4.75125 6.93435C4.68542 6.86843 4.64844 6.77908 4.64844 6.68592C4.64844 6.59275 4.68542 6.5034 4.75125 6.43748C4.81717 6.37164 4.90653 6.33466 4.99969 6.33466C5.09286 6.33466 5.18221 6.37164 5.24813 6.43748L6.09188 7.27185L7.75125 5.63592C7.81776 5.57003 7.90773 5.53326 8.00135 5.5337C8.09497 5.53413 8.18458 5.57175 8.25047 5.63826C8.31636 5.70477 8.35313 5.79473 8.35269 5.88835C8.35225 5.98198 8.31464 6.07159 8.24813 6.13748L6.33563 8.01248C6.30398 8.0448 6.26599 8.07023 6.22404 8.08717C6.18209 8.10411 6.1371 8.1122 6.09188 8.11092Z' fill='%23EDEBEA'/%3E%3C/svg%3E%0A");
            width: 1.3rem;
            height: 1.3rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            content: '';
        }
    }
}