@use '../config/all-config' as *;

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 33rem;
    height: 100%;
    background-color: var(--color-white);
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    &--active {
        transform: translateX(0);
    }

    &__inner {
        max-height: 100%;
        overflow-y: auto;
        padding: 2.4rem 1.6rem 1.8rem 1.6rem;
    }

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
        transition: all 0.3s ease;
        visibility: hidden;
        opacity: 0;

        &--active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__close {
        left: 100%;
        top: 2.4rem;
        margin-left: 1.2rem;
        opacity: 0;
        visibility: hidden;

        &--active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__rating {
        path {
            fill: var(--color-coolBlack);
        }
    }

    &__product {
        background-color: #EEF7FF;
        padding: 1rem;
        border-radius: 1rem;

        &-name {
            font-size: 1.5rem;
            font-weight: 700;
        }

        &-badge {
            background-color: #5299FF;
            line-height: 1.6rem;
            font-size: 1.2rem;
            color: var(--color-white);
            padding: 0 0.7rem 0 2.3rem;
            border-radius: 0.7rem;
            position: relative;

            &::before   {
                width: 2rem;
                height: 2rem;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='20' height='20' rx='10' fill='%235299FF'/%3E%3Cg clip-path='url(%23clip0_72_5452)'%3E%3Cpath d='M4.69668 5.19671C6.11324 3.78015 7.99668 3 10 3C12.0033 3 13.8868 3.78015 15.3033 5.19671C16.7199 6.61327 17.5 8.49668 17.5 10.5C17.5 12.5033 16.7199 14.3868 15.3033 15.8033C13.8868 17.2198 12.0033 18 10 18C7.99668 18 6.11324 17.2199 4.69668 15.8033C3.28012 14.3867 2.5 12.5033 2.5 10.5C2.5 8.49668 3.28012 6.61324 4.69668 5.19671ZM10 16.5279C13.3238 16.5279 16.0279 13.8238 16.0279 10.5C16.0279 10.4946 16.0277 10.4892 16.0277 10.4838C16.0277 10.4824 16.0279 10.4811 16.0279 10.4797C16.0279 10.4774 16.0276 10.4752 16.0275 10.4729C16.0129 7.1889 13.359 4.51711 10.0819 4.47316C10.0751 4.47284 10.0683 4.47214 10.0613 4.47214C10.0572 4.47214 10.0531 4.47264 10.049 4.47275C10.0326 4.47264 10.0163 4.47214 9.99997 4.47214C6.67615 4.47214 3.97208 7.17624 3.97208 10.5C3.97208 13.8238 6.67618 16.5279 10 16.5279Z' fill='white'/%3E%3Cpath d='M5.42129 10.8621C5.66639 10.8621 5.86508 10.6634 5.86508 10.4183C5.86508 10.1732 5.66639 9.97454 5.42129 9.97454H4.88636C5.13761 7.51137 7.13524 5.55736 9.61757 5.3739V5.83958C9.61757 6.08467 9.81626 6.28336 10.0614 6.28336C10.3065 6.28336 10.5051 6.08467 10.5051 5.83958V5.38451C12.9507 5.62416 14.8988 7.58476 15.1192 10.0359H14.6401C14.395 10.0359 14.1963 10.2345 14.1963 10.4796C14.1963 10.7247 14.395 10.9234 14.6401 10.9234H15.1228C14.9187 13.414 12.9317 15.4072 10.4438 15.621V15.0584C10.4438 14.8133 10.2451 14.6146 10 14.6146C9.75491 14.6146 9.55622 14.8133 9.55622 15.0584V15.621C7.048 15.4054 5.04881 13.3812 4.87262 10.8621H5.42129ZM8.20353 9.33112L9.68618 10.8138C9.76941 10.897 9.88227 10.9438 9.99998 10.9438C10.1177 10.9438 10.2306 10.897 10.3138 10.8138L12.8946 8.23295C13.0679 8.05966 13.0679 7.77868 12.8946 7.60536C12.7213 7.43204 12.4404 7.43204 12.267 7.60536L9.99995 9.87241L8.83106 8.70352C8.65777 8.5302 8.37679 8.5302 8.20347 8.70352C8.03021 8.87681 8.0302 9.15783 8.20353 9.33112Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_72_5452'%3E%3Crect width='15' height='15' fill='white' transform='matrix(-1 0 0 1 17.5 3)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                background-size: cover;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                margin-top: -1rem;
                left: 0;
                display: block;
                content: '';
            }
        }
    }
}