.ts-banner {
  background-color: #E9F4FF;
  padding: 36px 0 32px;
}

.ts-banner__wrapper {
  max-width: 1250px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.ts-banner__content-mobile {
  display: none;
}

.ts-banner__media {
  width: calc(49% - 12px);
  padding: 0 30px;
}

.ts-banner__media-item {
  display: flex;
  scroll-snap-align: start;
}

.ts-banner__media img {
  width: 100%;
  height: fit-content;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  pointer-events: none;
}

.ts-banner__media-main {
  display: flex;
  gap: 12px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  position: relative;
  scrollbar-width: 0;
}

.ts-banner__media-main::-webkit-scrollbar {
  display: none;
}

.ts-banner__media-main .ts-banner__media-item {
  width: 100%;
  min-width: 100%;
}

.ts-banner__media-nav {
  margin: 16px 0 0;
  display: flex;
  overflow: auto;
  gap: 8px;
  scroll-snap-type: x mandatory;
  padding: 2px;
  scroll-padding: 2px;
  scrollbar-width: 0;
}

.ts-banner__media-nav::-webkit-scrollbar {
  display: none;
}

.ts-banner__media-nav .ts-banner__media-item {
  cursor: pointer;
  background-color: #fff;
  width: calc(20% - 6.4px);
  min-width: calc(20% - 6.4px);
}

.ts-banner__media-nav .ts-banner__media-item.active {
  box-shadow: 0 0 0 2px #75BDFF;
}

.ts-banner__content {
  width: calc(51% - 12px);
  padding-top: 16px;
}

.ts-banner__review {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 10px;
  border: 1px dashed #0B9710;
  background-color: #E4FEE5;
  border-radius: 20px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0;
  margin: 0 0 8px;
  color: #0D3063;
}

.ts-banner__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 115%;
  letter-spacing: 0;
  color: #0D3063;
  margin: 0 0 8px;
}

.ts-banner__description {
  margin: 0 0 15px;
}

.ts-banner__description * {
  margin: 0;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0;
  color: #0D3063;
}

.ts-banner__description > * {
  margin: 0 0 8px;
}

.ts-banner__description > *:last-child {
  margin: 0;
}

.ts-banner__description ul {
  padding-left: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ts-banner__description ul li {
  line-height: 1;
}

.ts-banner__description ul li::before {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.99716' cy='10.0023' r='9.09091' fill='white'/%3E%3Cpath d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM15.0379 6.21209C14.6718 5.84597 14.0782 5.84597 13.7121 6.21209C13.7032 6.22093 13.6949 6.23029 13.6872 6.24013L9.34675 11.7709L6.72985 9.15403C6.36373 8.78791 5.77014 8.78791 5.40402 9.15403C5.0379 9.52015 5.0379 10.1137 5.40402 10.4799L8.71208 13.7879C9.0782 14.154 9.67179 14.154 10.0379 13.7879C10.0461 13.7798 10.0538 13.7712 10.061 13.7622L15.0512 7.52434C15.404 7.15727 15.3995 6.57371 15.0379 6.21209Z' fill='%230D3063'/%3E%3C/svg%3E%0A");
  display: inline-block;
  margin-right: 10px;
  transform: translateY(4px);
}

.ts-banner__button-wrapper {
  width: 100%;
  max-width: 520px;
}

.ts-banner__button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  background-color: #21A600;
  border-radius: 60px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fff;
  cursor: pointer;
}

.ts-banner__button-features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 8px 0 0;
}

.ts-banner__button-feature {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0D3063;
  font-weight: 700;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0;
}

.ts-banner__button-feature img {
  width: 22px;
  height: fit-content;
}

.ts-banner__guarantee {
  display: none;
  padding: 10px;
  background-color: #FFFCED;
  border: 1px solid #FDB022;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.ts-banner__guarantee img {
  width: 80px;
  height: fit-content;
}

.ts-banner__guarantee p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #222;
  margin: 0;
}

.ts-banner__faq {
  padding: 8px 0 0;
}

.ts-banner__row {
  display: none;
  border-bottom: 1px solid #0D3063;
}

.ts-banner__row:nth-child(1),
.ts-banner__row:nth-child(2),
.ts-banner__row:nth-child(3) {
  display: block;
}

.ts-banner__question {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: #0D3063;
  cursor: pointer;
}

.ts-banner__question * {
  pointer-events: none;
}

.ts-banner__question-icon {
  border: 2px solid #0D3063;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  border-radius: 20px;
}

.ts-banner__question-icon::after,
.ts-banner__question-icon::before {
  content: "";
  background-color: #0D3063;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}

.ts-banner__question-icon::after {
  width: 10px;
  height: 2px;
}

.ts-banner__question-icon::before {
  width: 2px;
  height: 10px;
}

.ts-banner__question.open .ts-banner__question-icon::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.ts-banner__question.open .ts-banner__question-icon::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.ts-banner__answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.ts-banner__answer {
  padding: 0 32px 8px 0;
}

.ts-banner__answer * {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  color: #535862;
  margin: 0;
}

.ts-banner__answer > * {
  margin: 0 0 12px;
}

.ts-banner__answer > *:last-child {
  margin: 0;
}

.ts-banner__show {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-decoration: underline;
  color: #181D27;
  margin: 0 auto;
  text-align: center;
}

.ts-banner__faq:not(.show) ~ .ts-banner__show .ts-banner__show--less,
.ts-banner__faq.show ~ .ts-banner__show .ts-banner__show--more {
  display: none;
}

.ts-banner__sticky {
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #DDEEFF;
  border-top: 2px solid #0D3063;
  padding: 6px 20px;
}

.ts-banner__sticky-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.ts-banner__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4px;
}

.ts-banner__label {
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  color: #000;
}

.ts-banner__sticky-button {
  display: flex;
  width: 100%;
  height: 64px;
  background-color: #21A600;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
  color: #fff;
}

.ts-banner__lightbox {
  display: flex;
  position: fixed;
  background-color: #fff;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.ts-banner__lightbox.open {
  visibility: visible;
  opacity: 1; 
  pointer-events: all;
  cursor: zoom-out;
}

.ts-banner__lightbox-inner {
  width: 100%;
  overflow: auto;
  padding: 15px;
  max-height: 100vh;
}

.ts-banner__lightbox-inner img {
  max-height: 50vw;
  max-width: 50.1vw;
  overflow: visible !important;
  display: block;
  margin-top: 1.5rem;
  height: auto;
  margin: auto;
}

.ts-banner__lightbox-close {
  top: 2.2rem;
  right: 5rem;
  background-color: rgb(var(--color-background));
  border: .1rem solid rgba(var(--color-foreground), .1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), .55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  width: 4rem;
}

@media screen and (max-width: 989px) {
  .ts-banner__wrapper {
    flex-direction: column;
  }

  .ts-banner__content-mobile {
    display: block;
  }

  .ts-banner__media {
    width: 100%;
    padding: 0 0 20px;
  }

  .ts-banner__content {
    width: 100%;
    padding-top: 0;
  }

  .ts-banner__content .ts-banner__review,
  .ts-banner__content .ts-banner__title {
    display: none;
  } 

  .ts-banner__review {
    margin: 0 auto 8px;
  }

  .ts-banner__title {
    text-align: center;
  }
}

@media screen and (max-width: 749px) {
  .ts-banner {
    padding: 0;
  }

  .ts-banner__wrapper {
    padding: 0;
    gap: 0;
  }

  .ts-banner__content-mobile {
    padding: 16px 20px;
  }

  .ts-banner__media {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px 15px;
    justify-content: start;
  }

  .ts-banner__media-main {
    height: 236px;
    aspect-ratio: 1 / 1;
    width: auto;
    margin: 0 auto; 
  }

  .ts-banner__media-nav {
    width: 48px;
    min-width: 48px;
    height: 240px;
    margin: 0;
    gap: 4px;
    scroll-snap-type: y mandatory;
    flex-direction: column;
  }

  .ts-banner__media-nav .ts-banner__media-item {
    width: 100%;
    min-width: 100%;
  }

  .ts-banner__media-nav img {
    aspect-ratio: 1 / 1;
    height: fit-content;
    object-fit: cover;
  }

  .ts-banner__review {
    gap: 8px;
    padding: 3px 10px;
    font-size: 14px;
    margin: 0 auto;
  }

  .ts-banner__title {
    font-size: 30px;
    margin: 0 0 10px;
  }

  .ts-banner__description {
    margin: 0;
    padding: 8px 20px 16px;
  }

  .ts-banner__description * {
    font-size: 16px;
  }

  .ts-banner__description > * {
    margin: 0 0 10px;
  }

  .ts-banner__description ul {
    padding-left: 0;
  }

  .ts-banner__description ul li::before {
    content: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.49787' cy='8.00178' r='6.81818' fill='white'/%3E%3Cpath d='M15 8C15 12.1421 11.6421 15.5 7.5 15.5C3.35786 15.5 0 12.1421 0 8C0 3.85786 3.35786 0.5 7.5 0.5C11.6421 0.5 15 3.85786 15 8ZM11.2784 5.15907C11.0038 4.88448 10.5586 4.88448 10.2841 5.15907C10.2774 5.1657 10.2712 5.17272 10.2654 5.1801L7.01006 9.3282L5.04738 7.36552C4.7728 7.09093 4.3276 7.09093 4.05302 7.36552C3.77843 7.64011 3.77843 8.0853 4.05302 8.35989L6.53406 10.8409C6.80865 11.1155 7.25384 11.1155 7.52843 10.8409C7.53454 10.8348 7.54032 10.8284 7.54572 10.8216L11.2884 6.14326C11.553 5.86795 11.5496 5.43029 11.2784 5.15907Z' fill='%230D3063'/%3E%3C/svg%3E%0A");
  }

  .ts-banner__button-wrapper {
    display: none;
  }

  .ts-banner__guarantee {
    display: flex;
    background-color: #fff;
  }

  .ts-banner__faq-wrapper {
    padding: 0 20px 20px;
    background-color: #fff;
  }

  .ts-banner__faq {
    padding: 0;
  }

  .ts-banner__row {
    border-bottom: 1px solid #E9EAEB;
  }

  .ts-banner__faq.show .ts-banner__row {
    display: block;
  }

  .ts-banner__row:nth-child(1),
  .ts-banner__row:nth-child(2),
  .ts-banner__row:nth-child(3),
  .ts-banner__row:nth-child(4),
  .ts-banner__row:nth-child(5) {
    display: block;
  }

  .ts-banner__question {
    padding: 10px 0;
    gap: 8px;
    font-size: 16px;
    color: #181D27;
  }

  .ts-banner__question-icon {
    border-color: #75BDFF;
  }

  .ts-banner__question-icon::after,
  .ts-banner__question-icon::before {
    background-color: #75BDFF;
  }

  .ts-banner__show {
    display: block;
    margin: 10px 0 0;
  } 

  .ts-banner__sticky {
    padding: 4px 10px 8px;
  }

  .ts-banner__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 4px;
  }

  .ts-banner__label {
    font-size: 12px;
  }

  .ts-banner__sticky-button {
    height: 58px;
    gap: 8px;
    font-size: 18px;
  }

  .ts-banner__lightbox {
    display: flex;
    align-items: center;
  }

  .ts-banner__lightbox-inner {
    width: 100%;
    max-height: max-content;
  }

  .ts-banner__lightbox-inner img {
    display: none;
    margin-top: 0;
  }

  .ts-banner__lightbox-inner img.active {
    display: block;
    max-height: 90vw;
    max-width: 90.1vw;
    height: 100%;
    width: 100%;
  }

  .ts-banner__lightbox-close {
    top: 2rem;
    right: 2rem;
  }

  .ts-banner__content {
    background-color: #fff;
  }

  .ts-banner__description {
    padding: 0 20px 20px;
    margin-top: 15px;

    ul li {
        &::before {
            content: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8C15 12.1421 11.6421 15.5 7.5 15.5C3.35786 15.5 0 12.1421 0 8C0 3.85786 3.35786 0.5 7.5 0.5C11.6421 0.5 15 3.85786 15 8ZM11.2784 5.15907C11.0038 4.88448 10.5586 4.88448 10.2841 5.15907C10.2774 5.1657 10.2712 5.17272 10.2654 5.1801L7.01006 9.3282L5.04738 7.36552C4.7728 7.09093 4.3276 7.09093 4.05302 7.36552C3.77843 7.64011 3.77843 8.0853 4.05302 8.35989L6.53406 10.8409C6.80865 11.1155 7.25384 11.1155 7.52843 10.8409C7.53454 10.8348 7.54032 10.8284 7.54572 10.8216L11.2884 6.14326C11.553 5.86795 11.5496 5.43029 11.2784 5.15907Z' fill='%23469AFF'/%3E%3C/svg%3E%0A");
        }
    }
  }
}