.ts-footer {
  padding: 50px 80px 120px;
  background-color: #0D3063;
}

.ts-footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.ts-footer__notice {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: #fff;
  margin: 0;
}

.ts-footer__notice--first {
  padding: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin: 0 0 15px;
}

.ts-footer__notice--second {
  margin: 0 0 32px;
}

.ts-footer__copyright {
  margin: 0 0 8px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #fff;
}

.ts-footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ts-footer__link {
  display: block;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #fff;
  margin: 0;
  text-decoration: none;
}

.ts-footer__link::after {
  content: " | ";
}

.ts-footer__menu li:last-of-type .ts-footer__link::after {
  display: none;
}

@media screen and (max-width: 749px) {
  .ts-footer {
    padding: 20px 20px 120px;
  }

  .ts-footer__notice {
    font-size: 14px;
  }

  .ts-footer__notice--second {
    margin: 0 0 10px;
  }

  .ts-footer__copyright {
    font-size: 14px;
  }

  .ts-footer__link {
    font-size: 14px;
  }
}