.ts-features__wrapper {
  max-width: 1300px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  gap: 28px;
  margin: 0 auto;
}

.ts-features__media {
  display: flex;
  width: calc(54% - 14px);
}

.ts-features__media video,
.ts-features__media img,
.ts-features__media svg {
  width: 100%;
  height: fit-content;
  aspect-ratio: 1.75 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.ts-features__content {
  width: calc(46% - 14px);
}

.ts-features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0;
  margin: 0 0 10px;
  color: #0D3063;
}

.ts-features__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0;
  margin: 0 0 20px;
  color: #535862;
}

.ts-features__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.ts-features__block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 0.5px solid #CCCCCC;
  background-color: #E8F4FF;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
}

.ts-features__block img {
  width: 50px;
  height: fit-content;
}

.ts-features__review {
  display: none;
  padding: 14px 10px;
  align-items: center;
  gap: 14px;
  border: 0.5px solid #CCCCCC;
  background-color: #fff;
  border-radius: 8px;
  margin: 20px 0 0;
}

.ts-features__review-media {
  display: flex;
}

.ts-features__review-media img {
  width: 90px;
  height: fit-content;
  background-color: #F4F9FF;
  border: 0.5px solid #ccc;
  border-radius: 8px;
}

.ts-features__review-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ts-features__review-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0;
  color: #0D3063;
  margin: 0;
}

.ts-features__review-comment {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  color: #111;
  margin: 0;
}

.ts-features__review-author {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0;
  color: #333;
  margin: 0;
}

@media screen and (max-width: 989px) {
  .ts-features__wrapper {
    padding: 0 32px;
    flex-direction: column;
  }

  .ts-features__media,
  .ts-features__content {
    width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .ts-features__wrapper {
    padding: 0;
    gap: 0;
  }

  .ts-features__media video,
  .ts-features__media img,
  .ts-features__media svg {
    border-radius: 0px;
  }

  .ts-features__content {
    background-color: #F4F9FF;
    padding: 30px 20px;
  }

  .ts-features__title {
    font-size: 26px;
    margin: 0 auto 5px;
    text-align: center;
    max-width: 275px;
  }

  .ts-features__description {
    font-size: 16px;
    text-align: center;
  }

  .ts-features__blocks {
    gap: 4px;
  }

  .ts-features__block {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
  }

  .ts-features__block img {
    width: 40px;
  }

  .ts-features__review {
    display: flex;
  }
}