.ts-faq {
  position: relative;
  overflow-x: clip;
}

.ts-faq__icon {
  position: absolute;
  display: flex;
}

.ts-faq__icon--lemon {
  top: -119px;
  left: -100px;
}

.ts-faq__icon--cherry {
  right: -90px;
  bottom: -90px;
}

.ts-faq__wrapper {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  gap: 20px;
  position: relative;
}

.ts-faq__title {
  width: calc(44% - 10px);
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0;
  color: #0D3063;
  margin: 0;
}

.ts-faq__title strong,
.ts-faq__title b {
  color: #469AFF;
}

.ts-faq__blocks {
  width: calc(56% - 10px);
}

.ts-faq__block {
  border-bottom: 1px solid #E9EAEB;
}

.ts-faq__question {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: #181D27;
  cursor: pointer;
}

.ts-faq__question * {
  pointer-events: none;
}

.ts-faq__question-icon {
  border: 2px solid #A4A7AE;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  border-radius: 20px;
}

.ts-faq__question-icon::after,
.ts-faq__question-icon::before {
  content: "";
  background-color: #A4A7AE;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}

.ts-faq__question-icon::after {
  width: 10px;
  height: 2px;
}

.ts-faq__question-icon::before {
  width: 2px;
  height: 10px;
}

.ts-faq__question.open .ts-faq__question-icon::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.ts-faq__question.open .ts-faq__question-icon::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.ts-faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.ts-faq__answer-inner {
  padding: 0 32px 8px 0;
}

.ts-faq__answer * {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  color: #535862;
  margin: 0;
}

.ts-faq__answer > * {
  margin: 0 0 12px;
}

.ts-faq__answer > *:last-child {
  margin: 0;
}

@media screen and (max-width: 989px) {
  .ts-faq__icon {
    display: none;
  }

  .ts-faq__wrapper {
    flex-direction: column;
  }

  .ts-faq__title,
  .ts-faq__blocks {
    width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .ts-faq {
    background-color: #FAFAFA;
  }

  .ts-faq__wrapper {
    padding: 0 20px;
    gap: 10px;
  }

  .ts-faq__title {
    font-size: 26px;
    text-align: center;
  }

  .ts-faq__question {
    gap: 8px;
    font-size: 16px;
  }
}